.textInputWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.textInputWrapper > *:first-child {
  flex-grow: 1;
}

.textInputWrapper input {
  background-color: var(--color-popover-background);
  padding: 12px 16px;
}

.textInputWrapper input,
.textInputWrapper input:focus,
.textInputWrapper input:active,
.textInputWrapper input:hover {
  box-shadow: none;
  background-color: var(--color-popover-background);
}

.slashShortcut {
  border-radius: 4px;
  padding: 0px 6px;
  background: var(--color-background-light);
  color: var(--color-text-light);
}
