acryl-datahub==0.15.0
agate==1.9.1
aiofile==3.9.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiohttp-retry==2.8.3
aioresponses==0.7.7
aiosignal==1.3.2
alabaster==1.0.0
alembic==1.14.0
altair==4.2.2
amqp==5.3.1
annotated-types==0.7.0
ansicolors==1.1.8
antlr4-python3-runtime==4.13.2
anyio==4.7.0
apache-airflow==2.7.3
apache-airflow-providers-apache-spark==4.9.0
apache-airflow-providers-common-sql==1.15.0
apache-airflow-providers-docker==3.12.3
apache-airflow-providers-ftp==3.10.1
apache-airflow-providers-http==4.1.0
apache-airflow-providers-imap==3.6.1
apache-airflow-providers-sqlite==3.8.2
apeye==1.4.1
apeye-core==1.1.5
apispec==6.8.0
appnope==0.1.4
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
-e examples/assets_dynamic_partitions
-e examples/assets_pandas_pyspark
asttokens==3.0.0
async-lru==2.0.4
atproto==0.0.56
attrs==24.3.0
autodocsumm==0.2.14
autoflake==2.3.1
-e python_modules/automation
avro==1.11.3
avro-gen3==0.7.16
aws-sam-translator==1.94.0
aws-xray-sdk==2.14.0
azure-core==1.32.0
azure-identity==1.19.0
azure-storage-blob==12.24.0
azure-storage-file-datalake==12.18.0
babel==2.16.0
backoff==2.2.1
backports-tarfile==1.2.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
billiard==4.2.1
bleach==6.2.0
blinker==1.9.0
bokeh==3.6.2
boto3==1.35.91
boto3-stubs-lite==1.35.70
botocore==1.35.91
botocore-stubs==1.35.91
buildkite-test-collector==0.1.9
cachecontrol==0.14.1
cached-property==2.0.1
cachelib==0.9.0
cachetools==5.5.0
caio==0.9.17
callee==0.3.1
cattrs==23.1.2
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
cfn-lint==1.22.3
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click-spinner==0.1.10
clickclick==20.10.2
cloudpickle==3.1.0
colorama==0.4.6
coloredlogs==14.0
colorlog==4.8.0
comm==0.2.2
configupdater==3.2
confluent-kafka==2.7.0
connexion==2.14.2
contourpy==1.3.1
coverage==7.6.10
cron-descriptor==1.4.5
croniter==5.0.1
cryptography==43.0.3
cssselect==1.2.0
cssutils==2.11.1
cycler==0.12.1
daff==1.3.46
-e python_modules/dagit
-e python_modules/dagster
-e python_modules/libraries/dagster-airbyte
-e python_modules/libraries/dagster-airflow
-e python_modules/libraries/dagster-airlift
-e python_modules/libraries/dagster-aws
-e python_modules/libraries/dagster-azure
-e examples/experimental/dagster-blueprints
-e python_modules/libraries/dagster-celery
-e python_modules/libraries/dagster-celery-docker
-e python_modules/libraries/dagster-celery-k8s
-e python_modules/libraries/dagster-census
-e python_modules/libraries/dagster-components
dagster-contrib-modal==0.0.2
-e python_modules/libraries/dagster-dask
-e python_modules/libraries/dagster-databricks
-e python_modules/libraries/dagster-datadog
-e python_modules/libraries/dagster-datahub
-e python_modules/libraries/dagster-dbt
-e python_modules/libraries/dagster-deltalake
-e python_modules/libraries/dagster-deltalake-pandas
-e python_modules/libraries/dagster-deltalake-polars
-e python_modules/libraries/dagster-dg
-e examples/experimental/dagster-dlift
-e python_modules/libraries/dagster-docker
-e python_modules/libraries/dagster-duckdb
-e python_modules/libraries/dagster-duckdb-pandas
-e python_modules/libraries/dagster-duckdb-polars
-e python_modules/libraries/dagster-duckdb-pyspark
-e python_modules/libraries/dagster-embedded-elt
-e python_modules/libraries/dagster-fivetran
-e python_modules/libraries/dagster-gcp
-e python_modules/libraries/dagster-gcp-pandas
-e python_modules/libraries/dagster-gcp-pyspark
-e python_modules/libraries/dagster-ge
-e python_modules/libraries/dagster-github
-e python_modules/dagster-graphql
-e helm/dagster/schema
-e python_modules/libraries/dagster-k8s
-e integration_tests/python_modules/dagster-k8s-test-infra
-e python_modules/libraries/dagster-looker
-e python_modules/libraries/dagster-managed-elements
-e python_modules/libraries/dagster-mlflow
-e python_modules/libraries/dagster-msteams
-e python_modules/libraries/dagster-mysql
-e python_modules/libraries/dagster-openai
-e python_modules/libraries/dagster-pagerduty
-e python_modules/libraries/dagster-pandas
-e python_modules/libraries/dagster-pandera
-e python_modules/libraries/dagster-papertrail
-e python_modules/dagster-pipes
-e python_modules/libraries/dagster-polars
-e python_modules/libraries/dagster-postgres
-e python_modules/libraries/dagster-powerbi
-e python_modules/libraries/dagster-prometheus
-e python_modules/libraries/dagster-pyspark
-e python_modules/libraries/dagster-sdf
-e python_modules/libraries/dagster-shell
-e python_modules/libraries/dagster-sigma
-e python_modules/libraries/dagster-slack
-e python_modules/libraries/dagster-snowflake
-e python_modules/libraries/dagster-snowflake-pandas
-e python_modules/libraries/dagster-snowflake-pyspark
-e python_modules/libraries/dagster-spark
-e docs/sphinx/_ext/dagster-sphinx
-e python_modules/libraries/dagster-ssh
-e python_modules/libraries/dagster-tableau
-e python_modules/dagster-test
-e python_modules/libraries/dagster-twilio
-e docs/dagster-ui-screenshot
-e python_modules/libraries/dagster-wandb
-e python_modules/dagster-webserver
-e python_modules/libraries/dagstermill
dask==2024.12.1
dask-expr==1.1.21
dask-jobqueue==0.9.0
dask-kubernetes==2022.9.0
dask-yarn==0.9
databricks-cli==0.18.0
databricks-sdk==0.17.0
dataclasses-json==0.6.7
datadog==0.50.2
dataproperty==1.1.0
db-dtypes==1.3.1
dbt-adapters==1.13.0
dbt-common==1.14.0
dbt-core==1.9.1
dbt-duckdb==1.9.1
-e examples/starlift-demo
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.7.4
debugpy==1.8.11
decopatch==1.4.10
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
deltalake==0.17.4
deprecated==1.2.15
-e examples/development_to_production
dict2css==0.3.0.post1
dill==0.3.9
distlib==0.3.9
distributed==2024.12.1
distro==1.9.0
-e examples/experimental/dagster-dlift/kitchen-sink
dlt==1.5.0
dnspython==2.7.0
docker==7.1.0
docker-image-py==0.1.13
docker-pycreds==0.4.0
-e examples/docs_snippets
docstring-parser==0.16
docutils==0.21.2
domdf-python-tools==3.9.0
duckdb==1.1.3
durationpy==0.9
email-validator==1.3.1
entrypoints==0.4
execnet==2.1.1
executing==2.1.0
expandvars==0.12.0
faiss-cpu==1.8.0
fastapi==0.115.6
fastavro==1.10.0
fastjsonschema==2.21.1
-e examples/feature_graph_backed_assets
feedparser==6.0.11
ffmpeg-python==0.2.0
filelock==3.16.1
flaky==3.8.1
flask==2.2.5
flask-appbuilder==4.3.6
flask-babel==2.0.0
flask-caching==2.3.0
flask-cors==5.0.0
flask-jwt-extended==4.7.1
flask-limiter==3.9.2
flask-login==0.6.3
flask-session==0.5.0
flask-sqlalchemy==2.5.1
flask-wtf==1.2.2
flatbuffers==24.12.23
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.3.0
future==1.0.0
gitdb==4.0.12
gitpython==3.1.44
giturlparse==0.12.0
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-re2==1.1.20240702
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gql==3.5.0
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.20.3
great-expectations==0.18.22
greenlet==3.1.1
grpcio==1.68.1
grpcio-health-checking==1.68.1
grpcio-status==1.68.1
grpcio-tools==1.68.1
grpclib==0.4.7
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hexbytes==1.2.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
humanfriendly==10.0
humanize==4.11.0
hyperframe==6.0.1
hypothesis==6.123.2
idna==3.10
ijson==3.3.0
imagesize==1.4.1
importlib-metadata==6.11.0
importlib-resources==6.5.1
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jedi==0.19.2
jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
joserfc==1.0.1
json5==0.10.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-path==0.3.3
jsonschema-specifications==2023.12.1
jupyter-client==7.4.9
jupyter-core==5.7.2
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter-server==2.15.0
jupyter-server-terminals==0.5.3
jupyterlab==4.3.4
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.3
jupyterlab-widgets==3.0.13
keyring==25.6.0
-e python_modules/libraries/dagster-airlift/kitchen-sink
kiwisolver==1.4.8
kombu==5.4.2
kopf==1.37.4
kubernetes==31.0.0
kubernetes-asyncio==32.0.0
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.28
langchain-openai==0.2.5
langchain-text-splitters==0.3.4
langsmith==0.1.147
lazy-object-proxy==1.10.0
leather==0.4.0
libipld==3.0.0
limits==3.14.1
linkify-it-py==2.0.3
lkml==1.3.6
locket==1.0.0
lockfile==0.12.2
looker-sdk==24.16.2
lxml==5.3.0
makefun==1.15.6
mako==1.3.8
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.23.2
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.14
matplotlib==3.10.0
matplotlib-inline==0.1.3
mbstrdecoder==1.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.0
mixpanel==4.10.1
mlflow==1.27.0
modal==0.70.7
more-itertools==10.5.0
morefs==0.2.2
moto==5.0.25
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
multidict==6.1.0
mypy-boto3-ecs==1.35.83
mypy-boto3-emr==1.35.68
mypy-boto3-emr-serverless==1.35.79
mypy-boto3-glue==1.35.87
mypy-boto3-logs==1.35.81
mypy-boto3-s3==1.35.81
mypy-extensions==1.0.0
mypy-protobuf==3.6.0
mysql-connector-python==9.1.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nh3==0.2.20
nodeenv==1.9.1
notebook==7.3.2
notebook-shim==0.2.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
objgraph==3.6.2
onnx==1.17.0
onnxconverter-common==1.13.0
onnxruntime==1.20.1
openai==1.59.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
ordered-set==4.1.0
orjson==3.10.13
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas-gbq==0.26.0
pandas-stubs==2.2.3.241126
pandera==0.22.1
pandocfilters==1.5.1
papermill==2.6.0
paramiko==3.5.0
parsedatetime==2.6
parso==0.8.4
partd==1.4.2
path==16.16.0
pathable==0.4.3
pathspec==0.12.1
pathvalidate==3.2.3
pendulum==2.1.2
-e python_modules/libraries/dagster-airlift/perf-harness
pexpect==4.9.0
pillow==11.1.0
pip==24.3.1
pkginfo==1.12.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
ply==3.11
polars==1.18.0
portalocker==2.10.1
premailer==3.10.0
prison==0.2.1
progressbar2==4.5.0
-e examples/project_atproto_dashboard
-e examples/project_dagster_modal_pipes
prometheus-client==0.21.1
prometheus-flask-exporter==0.23.1
prompt-toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
psutil==6.1.1
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.3
py-partiql-parser==0.6.1
py4j==0.10.9.7
pyarrow==18.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pydantic==2.10.4
pydantic-core==2.27.2
pydantic-settings==2.7.1
pydata-google-auth==1.9.0
pyflakes==3.2.0
pygments==2.18.0
pyjwt==2.10.1
pymdown-extensions==10.13
pynacl==1.5.0
pyopenssl==24.3.0
pyparsing==3.2.1
pypd==1.1.0
pyproject-api==1.8.0
pyright==1.1.379
pysocks==1.7.1
pyspark==3.5.4
pytablereader==0.31.4
pytest==8.3.4
pytest-asyncio==0.25.1
pytest-cases==3.8.6
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest-xdist==3.6.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-frontmatter==1.1.0
python-json-logger==3.2.1
python-liquid==1.12.2
python-multipart==0.0.20
python-nvd3==0.16.0
python-slugify==8.0.4
python-utils==3.9.1
pytimeparse==1.1.8
pytz==2024.2
pytzdata==2020.1
pyyaml==6.0.2
pyzmq==26.2.0
querystring-parser==1.2.4
rapidfuzz==3.11.0
readme-renderer==44.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.11.0
responses==0.23.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.4
rich-argparse==1.6.0
rpds-py==0.22.3
rsa==4.9
ruamel-yaml==0.17.40
ruamel-yaml-clib==0.2.12
ruff==0.8.5
s3transfer==0.10.4
scikit-learn==1.6.0
scipy==1.15.0
scrapbook==0.5.0
sdf-cli==0.3.23
seaborn==0.13.2
selenium==4.27.1
semver==3.0.2
send2trash==1.8.3
sentry-sdk==2.19.2
setproctitle==1.3.4
setuptools==70.3.0
sgmllib3k==1.0.0
shellingham==1.5.4
sigtools==4.0.1
simplejson==3.19.3
six==1.17.0
skein==0.8.2
skl2onnx==1.18.0
slack-sdk==3.34.0
sling==1.3.4
sling-mac-amd64==1.3.4
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
snowflake-connector-python==3.12.4
snowflake-sqlalchemy==1.7.2
snowplow-tracker==1.0.4
sortedcontainers==2.4.0
soupsieve==2.6
sphinx==8.1.3
sphinx-autodoc-typehints==3.0.0
sphinx-jinja2-compat==0.3.0
sphinx-prompt==1.9.0
sphinx-tabs==3.4.5
sphinx-toolbox==3.8.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlalchemy==1.4.54
sqlalchemy-jsonfield==1.0.2
sqlalchemy-utils==0.41.2
sqlglot==26.0.1
sqlglotrs==0.3.0
sqlparse==0.5.3
sshtunnel==0.4.0
stack-data==0.6.3
starlette==0.41.3
structlog==24.4.0
sympy==1.13.3
synchronicity==0.9.8
syrupy==4.8.0
tableauserverclient==0.34
tabledata==1.3.4
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
termcolor==2.5.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
toposort==1.10
torch==2.2.2
torchvision==0.17.2
tornado==6.4.2
tox==4.23.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
-e examples/airlift-migration-tutorial
-e examples/tutorial_notebook_assets
twilio==9.4.1
twine==6.0.1
typeguard==4.4.1
typepy==1.3.4
typer==0.15.1
types-awscrt==0.23.6
types-backports==0.1.3
types-certifi==2021.10.8.3
types-cffi==1.16.0.20241221
types-chardet==5.0.4.6
types-croniter==5.0.1.20241205
types-cryptography==3.3.23.2
types-mock==5.1.0.20240425
types-paramiko==3.5.0.20240928
types-protobuf==5.29.1.20241207
types-pyopenssl==24.1.0.20240722
types-python-dateutil==2.9.0.20241206
types-pytz==2024.2.0.20241221
types-pyyaml==6.0.12.20241230
types-requests==2.32.0.20241016
types-s3transfer==0.10.4
types-setuptools==75.6.0.20241223
types-simplejson==3.19.0.20241221
types-six==1.17.0.20241205
types-sqlalchemy==1.4.53.34
types-tabulate==0.9.0.20241207
types-toml==0.10.8.20240310
types-tzlocal==5.1.0.1
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.2
tzlocal==5.2
uc-micro-py==1.0.3
unicodecsv==0.14.1
universal-pathlib==0.2.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
-e examples/use_case_repository
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.28.1
wandb==0.19.1
watchdog==5.0.3
watchfiles==1.0.3
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
werkzeug==2.2.3
wheel==0.45.1
widgetsnbextension==4.0.13
-e examples/with_great_expectations
-e examples/with_openai
-e examples/with_pyspark
-e examples/with_wandb
wordcloud==1.9.4
wrapt==1.17.0
wsproto==1.2.0
wtforms==3.0.1
xgboost==2.1.3
xmltodict==0.12.0
xyzservices==2024.9.0
yagmail==0.15.293
yarl==1.18.3
zict==3.0.0
zipp==3.21.0
