/* Box Component CSS Module */

/* ===== Flex Display ===== */
.flex {
  display: flex;
}

.inlineFlex {
  display: inline-flex;
}

/* ===== Flex Direction ===== */
.flexRow {
  flex-direction: row;
}

.flexRowReverse {
  flex-direction: row-reverse;
}

.flexColumn {
  flex-direction: column;
}

.flexColumnReverse {
  flex-direction: column-reverse;
}

/* ===== Flex Wrap ===== */
.flexWrap {
  flex-wrap: wrap;
}

.flexNowrap {
  flex-wrap: nowrap;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse;
}

/* ===== Align Items ===== */
.alignStretch {
  align-items: stretch;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: end;
}

.alignFlexStart {
  align-items: flex-start;
}

.alignFlexEnd {
  align-items: flex-end;
}

.alignBaseline {
  align-items: baseline;
}

/* ===== Justify Content ===== */
.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: start;
}

.justifyEnd {
  justify-content: end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyLeft {
  justify-content: left;
}

.justifyRight {
  justify-content: right;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceEvenly {
  justify-content: space-evenly;
}

.justifyStretch {
  justify-content: stretch;
}

/* ===== Padding - Single Value ===== */
.p0 {
  padding: 0px;
}

.p1 {
  padding: 1px;
}

.p2 {
  padding: 2px;
}

.p4 {
  padding: 4px;
}

.p8 {
  padding: 8px;
}

.p12 {
  padding: 12px;
}

.p16 {
  padding: 16px;
}

.p20 {
  padding: 20px;
}

.p24 {
  padding: 24px;
}

.p32 {
  padding: 32px;
}

.p48 {
  padding: 48px;
}

.p64 {
  padding: 64px;
}

/* ===== Padding - Directional ===== */
.pt0 {
  padding-top: 0px;
}
.pt1 {
  padding-top: 1px;
}
.pt2 {
  padding-top: 2px;
}
.pt4 {
  padding-top: 4px;
}
.pt8 {
  padding-top: 8px;
}
.pt12 {
  padding-top: 12px;
}
.pt16 {
  padding-top: 16px;
}
.pt20 {
  padding-top: 20px;
}
.pt24 {
  padding-top: 24px;
}
.pt32 {
  padding-top: 32px;
}
.pt48 {
  padding-top: 48px;
}
.pt64 {
  padding-top: 64px;
}

.pr0 {
  padding-right: 0px;
}
.pr1 {
  padding-right: 1px;
}
.pr2 {
  padding-right: 2px;
}
.pr4 {
  padding-right: 4px;
}
.pr8 {
  padding-right: 8px;
}
.pr12 {
  padding-right: 12px;
}
.pr16 {
  padding-right: 16px;
}
.pr20 {
  padding-right: 20px;
}
.pr24 {
  padding-right: 24px;
}
.pr32 {
  padding-right: 32px;
}
.pr48 {
  padding-right: 48px;
}
.pr64 {
  padding-right: 64px;
}

.pb0 {
  padding-bottom: 0px;
}
.pb1 {
  padding-bottom: 1px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb48 {
  padding-bottom: 48px;
}
.pb64 {
  padding-bottom: 64px;
}

.pl0 {
  padding-left: 0px;
}
.pl1 {
  padding-left: 1px;
}
.pl2 {
  padding-left: 2px;
}
.pl4 {
  padding-left: 4px;
}
.pl8 {
  padding-left: 8px;
}
.pl12 {
  padding-left: 12px;
}
.pl16 {
  padding-left: 16px;
}
.pl20 {
  padding-left: 20px;
}
.pl24 {
  padding-left: 24px;
}
.pl32 {
  padding-left: 32px;
}
.pl48 {
  padding-left: 48px;
}
.pl64 {
  padding-left: 64px;
}

/* ===== Margin - Single Value ===== */
.m0 {
  margin: 0px;
}

.m1 {
  margin: 1px;
}

.m2 {
  margin: 2px;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.m12 {
  margin: 12px;
}

.m16 {
  margin: 16px;
}

.m20 {
  margin: 20px;
}

.m24 {
  margin: 24px;
}

.m32 {
  margin: 32px;
}

.m48 {
  margin: 48px;
}

.m64 {
  margin: 64px;
}

/* ===== Margin - Directional ===== */
.mt0 {
  margin-top: 0px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt4 {
  margin-top: 4px;
}
.mt8 {
  margin-top: 8px;
}
.mt12 {
  margin-top: 12px;
}
.mt16 {
  margin-top: 16px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt48 {
  margin-top: 48px;
}
.mt64 {
  margin-top: 64px;
}

.mr0 {
  margin-right: 0px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr4 {
  margin-right: 4px;
}
.mr8 {
  margin-right: 8px;
}
.mr12 {
  margin-right: 12px;
}
.mr16 {
  margin-right: 16px;
}
.mr20 {
  margin-right: 20px;
}
.mr24 {
  margin-right: 24px;
}
.mr32 {
  margin-right: 32px;
}
.mr48 {
  margin-right: 48px;
}
.mr64 {
  margin-right: 64px;
}

.mb0 {
  margin-bottom: 0px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb64 {
  margin-bottom: 64px;
}

.ml0 {
  margin-left: 0px;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml4 {
  margin-left: 4px;
}
.ml8 {
  margin-left: 8px;
}
.ml12 {
  margin-left: 12px;
}
.ml16 {
  margin-left: 16px;
}
.ml20 {
  margin-left: 20px;
}
.ml24 {
  margin-left: 24px;
}
.ml32 {
  margin-left: 32px;
}
.ml48 {
  margin-left: 48px;
}
.ml64 {
  margin-left: 64px;
}

/* ===== Border Base Styles ===== */
.borderTop {
  box-shadow: inset 0 1px var(--color-keyline-default);
}

.borderBottom {
  box-shadow: inset 0 -1px var(--color-keyline-default);
}

.borderLeft {
  box-shadow: inset 1px 0 var(--color-keyline-default);
}

.borderRight {
  box-shadow: inset -1px 0 var(--color-keyline-default);
}

.borderTopBottom {
  box-shadow:
    inset 0 1px var(--color-keyline-default),
    inset 0 -1px var(--color-keyline-default);
}

.borderLeftRight {
  box-shadow:
    inset 1px 0 var(--color-keyline-default),
    inset -1px 0 var(--color-keyline-default);
}

.borderAll {
  box-shadow: inset 0 0 0 1px var(--color-keyline-default);
}

/* Border width modifiers - width 2 */
.borderTop.borderWidth2 {
  box-shadow: inset 0 2px var(--color-keyline-default);
}

.borderBottom.borderWidth2 {
  box-shadow: inset 0 -2px var(--color-keyline-default);
}

.borderLeft.borderWidth2 {
  box-shadow: inset 2px 0 var(--color-keyline-default);
}

.borderRight.borderWidth2 {
  box-shadow: inset -2px 0 var(--color-keyline-default);
}

.borderTopBottom.borderWidth2 {
  box-shadow:
    inset 0 2px var(--color-keyline-default),
    inset 0 -2px var(--color-keyline-default);
}

.borderLeftRight.borderWidth2 {
  box-shadow:
    inset 2px 0 var(--color-keyline-default),
    inset -2px 0 var(--color-keyline-default);
}

.borderAll.borderWidth2 {
  box-shadow: inset 0 0 0 2px var(--color-keyline-default);
}

/* Border width modifiers - width 4 */
.borderTop.borderWidth4 {
  box-shadow: inset 0 4px var(--color-keyline-default);
}

.borderBottom.borderWidth4 {
  box-shadow: inset 0 -4px var(--color-keyline-default);
}

.borderLeft.borderWidth4 {
  box-shadow: inset 4px 0 var(--color-keyline-default);
}

.borderRight.borderWidth4 {
  box-shadow: inset -4px 0 var(--color-keyline-default);
}

.borderTopBottom.borderWidth4 {
  box-shadow:
    inset 0 4px var(--color-keyline-default),
    inset 0 -4px var(--color-keyline-default);
}

.borderLeftRight.borderWidth4 {
  box-shadow:
    inset 4px 0 var(--color-keyline-default),
    inset -4px 0 var(--color-keyline-default);
}

.borderAll.borderWidth4 {
  box-shadow: inset 0 0 0 4px var(--color-keyline-default);
}
