[project]
name = "project_mini"
requires-python = ">=3.9,<3.14"
version = "0.1.0"
# start_dependencies
dependencies = [
    "dagster",
    # highlight-start
    "shared",
    # highlight-end
    "pandas",
    "dagster-pandas",
]
# end_dependencies

[dependency-groups]
dev = [
    "dagster-webserver",
    "dagster-dg-cli",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
force-include = { "pyproject.toml" = "pyproject.toml" }

[tool.dg]
directory_type = "project"

[tool.dg.project]
root_module = "project_mini"
registry_modules = [
    "project_mini.components.*",
]

# start_uv_sources
[tool.uv.sources]
shared = { path = "./shared", editable = true }
# end_uv_sources
