.overlayContainer {
  padding: 4px;
  font-size: 12px;
  width: 240px;
}

.overlayTitle {
  padding: 8px;
  box-shadow: inset 0 -1px var(--color-keyline-default);
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-default);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0px;
}

.runRow {
  padding: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.summaryContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 8px 8px;
}

.summaryContainer:empty {
  display: none;
}

.pez {
  border-radius: 2px;
  height: 16px;
  width: 8px;
}
