from setuptools import find_packages, setup

setup(
    name="{{ repo_name }}",
    packages=find_packages(exclude=["{{ repo_name }}_tests"]),
    install_requires=[
        "dagster",
        "dagster-cloud"
    ],
    extras_require={"dev": ["dagit", "pytest"]},
)
