.alert {
  --alert-background: var(--color-background-default);
  --alert-box-shadow: var(--color-accent-primary);
  --alert-text: var(--color-text-default);
  --alert-icon: var(--color-text-default);

  background-color: var(--alert-background);
  box-shadow: inset 4px 0 var(--alert-box-shadow);
  color: var(--alert-text);

  a {
    color: var(--alert-text);
    text-decoration: underline;
  }

  .icon div[role='img'] {
    background-color: var(--alert-icon);
  }

  .button div[role='img'] {
    background-color: var(--alert-text);
  }
}

.alert.warning {
  --alert-background: var(--color-background-yellow);
  --alert-box-shadow: var(--color-accent-yellow);
  --alert-text: var(--color-text-yellow);
  --alert-icon: var(--color-accent-yellow);
}

.alert.error {
  --alert-background: var(--color-background-red);
  --alert-box-shadow: var(--color-accent-red);
  --alert-text: var(--color-text-red);
  --alert-icon: var(--color-accent-red);
}

.alert.success {
  --alert-background: var(--color-background-green);
  --alert-box-shadow: var(--color-accent-green);
  --alert-text: var(--color-text-green);
  --alert-icon: var(--color-accent-green);
}

.alert.none {
  --alert-background: var(--color-background-gray);
  --alert-box-shadow: var(--color-accent-gray);
  --alert-text: var(--color-text-light);
  --alert-icon: var(--color-accent-gray);
}

.alert.info {
  --alert-background: var(--color-background-blue);
  --alert-box-shadow: var(--color-accent-blue);
  --alert-text: var(--color-text-blue);
  --alert-icon: var(--color-accent-blue);
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  flex-direction: column;
  height: fit-content;
}

.title {
  font-weight: 600;
}

.description {
  font-weight: 400;
}
