.button.button {
  font-size: 14px;
  padding: 6px 8px;
  background-color: transparent;
  transition: background-color 150ms linear;
  border-radius: 8px;
  line-height: 20px;
}

.button.button:hover {
  background-color: var(--color-background-light-hover);
}
