.icon {
  --icon-color: var(--color-accent-primary);

  flex-grow: 0;
  flex-shrink: 0;
  height: var(--icon-size);
  object-fit: contain;
  transition: transform 150ms linear;
  width: var(--icon-size);
}

.size12 {
  --icon-size: 12px;
}

.size16 {
  --icon-size: 16px;
}

.size20 {
  --icon-size: 20px;
}

.size24 {
  --icon-size: 24px;
}

.size48 {
  --icon-size: 48px;
}

.useOriginalColor {
  background: var(--icon-image-path);
  background-size: cover;
  background-color: transparent;
}

.usePropColor {
  background: var(--icon-color);
  mask-image: var(--icon-image-path);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
