.listItem {
  background-color: var(--color-background-default);
  display: flex;
  flex-direction: row;
  position: relative;
  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  box-shadow: inset 0 -1px 0 0 var(--color-keyline-default);
  user-select: none;
  width: 100%;
  overflow: hidden;
  padding-left: var(--spacing-left);
}

.listItem:hover {
  background-color: var(--color-background-default-hover);
  box-shadow:
    inset 0 -1px 0 0 var(--color-keyline-default),
    inset 0 1px 0 0 var(--color-keyline-default);
}

/* If the next sibling row is hovered, remove the box shadow of this row to avoid double keylines */
*:has(> .listItem):has(+ * > .listItem:hover) .listItem {
  box-shadow: none;
}

.listItem:hover .listItemAnchor {
  color: var(--color-text-default);
}

.listItemAnchor {
  padding: var(--spacing-top) 0 var(--spacing-bottom) 0;
  transition: color 0.1s ease-in-out;
  flex: 1;
  overflow: hidden;
}

.listItemAnchor:link,
.listItemAnchor:visited,
.listItemAnchor:hover,
.listItemAnchor:active {
  color: var(--color-text-default);
  text-decoration: none;
}

.listItem:has(.listItemAnchor:focus) {
  background-color: var(--color-background-blue);
  box-shadow:
    inset 0 -1px 0 0 var(--color-background-blue),
    inset 0 1px 0 0 var(--color-background-blue);
}

.listItemAnchor:focus,
.listItemAnchor:active {
  outline: none;
}

.listItemAnchor:hover {
  color: var(--color-text-default);
}

.listItem .checkboxContainer label {
  display: block;
  line-height: 0;
  padding-right: 12px;
  padding-top: var(--spacing-top);
  padding-bottom: var(--spacing-bottom);
  padding-left: 12px;
  margin-left: -12px;
}

.left {
  flex: 1;
}

.right {
  align-self: center;
  padding-right: var(--spacing-right);
}

.right > * {
  pointer-events: all;
}
