.spinner {
  --spinner-fill-color: var(--color-accent-gray);
  --spinner-padding: 0px;
  padding: var(--spinner-padding);
}

.spinner.captionText {
  --spinner-padding: 1px;
}

.spinner.bodyText {
  --spinner-padding: 2px;
}

.spinner .slowSpinner :global(.bp5-spinner-animation) {
  animation-duration: 0.8s;
}

.spinner.stopped .slowSpinner :global(.bp5-spinner-animation) {
  animation: none;
}

.spinner .slowSpinner path:global(.bp5-spinner-track) {
  stroke: var(--spinner-fill-color);
  stroke-opacity: 0.25;
}

.spinner:not(.stopped) .slowSpinner path:global(.bp5-spinner-head) {
  stroke: var(--spinner-fill-color);
  stroke-opacity: 1;
}

.spinner.stopped .slowSpinner path:global(.bp5-spinner-head) {
  stroke-opacity: 0;
  fill: var(--spinner-fill-color);
  fill-opacity: 1;
  transform: scale(44%);
}
