/* ============================================
   BASE CLASSES (for composition)
   ============================================ */

/* Base container styles that can be composed by other CSS modules */
.textInputContainer {
  align-items: center;
  color: var(--color-text-light);
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  position: relative;

  --text-input-stroke-color: var(--color-border-default);
  --text-input-stroke-color-hover: var(--color-border-hover);
}

/* Base input styles that can be composed by other CSS modules */
.textInputBase {
  background-color: var(--color-background-default);
  border: none;
  box-shadow: var(--text-input-stroke-color, var(--color-border-default)) inset 0px 0px 0px 1px;
  outline: none;
  border-radius: 8px;
  color: var(--color-text-default);
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 6px 6px 12px;
  margin: 0;
  transition: box-shadow 150ms;
}

.textInputBase::placeholder {
  color: var(--color-text-lighter);
}

.textInputBase:disabled {
  box-shadow: var(--color-keyline-default) inset 0px 0px 0px 1px;
  background-color: var(--color-background-light);
  color: var(--color-text-disabled);
}

.textInputBase:disabled::placeholder {
  color: var(--color-text-disabled);
}

.textInputBase:focus {
  box-shadow:
    var(--color-border-default) inset 0px 0px 0px 1px,
    var(--color-keyline-default) inset 2px 2px 1.5px,
    var(--color-focus-ring) 0 0 0 2px;
  outline: none;
}

.textInputBase:hover:not(:disabled) {
  box-shadow: var(--text-input-stroke-color-hover, var(--color-border-hover)) inset 0px 0px 0px 1px;
}

.textInputBase:focus,
.textInputBase:hover:focus:not(:disabled) {
  box-shadow:
    var(--text-input-stroke-color, var(--color-border-hover)) inset 0px 0px 0px 1px,
    var(--color-focus-ring) 0 0 0 2px;
  background-color: var(--color-background-default-hover);
}

/* ============================================
   TEXTINPUT COMPONENT CLASSES
   ============================================ */

.container {
  composes: textInputContainer;
}

.container > :global(.iconGlobal):first-child {
  position: absolute;
  left: 8px;
  top: 8px;
}

.container.disabled > :global(.iconGlobal):first-child {
  background-color: var(--color-background-disabled);
}

.input {
  composes: textInputBase;

  /* Dynamic values via CSS custom properties */
  padding: var(--text-input-padding, 6px 6px 6px 12px);
}

.input.hasIcon {
  --text-input-padding: 6px 6px 6px 28px;
}

.input.hasRightElement {
  padding-right: 28px;
}

.rightContainer {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
