.tooltip {
  font-family: var(--font-family-default);
  font-size: 12px;
  line-height: 16px;
  background: var(--color-tooltip-background);
  color: var(--color-tooltip-text);
  padding: 8px 16px;
  border-radius: 4px;
  z-index: 100;
}

.tooltip[data-state='delayed-open'],
.tooltip[data-state='instant-open'] {
  animation: tooltip-fade-in 100ms ease-in-out;
}

.tooltip[data-state='closed'] {
  animation: tooltip-fade-out 100ms ease-in-out;
}

@keyframes tooltip-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tooltip-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
