...
[tool.dg]
directory_type = "project"

[tool.dg.project]
root_module = "my_existing_project"
defs_module = "my_existing_project.defs"

[tool.dagster]
module_name = "my_existing_project.definitions"
code_location_name = "my_existing_project"
...
