from {{ repo_name }}.graphs.my_graph import my_graph


def test_my_graph():
    """
    This is an example test for a Dagster graph.

    For hints on how to test your Dagster graphs, see our documentation tutorial on Testing:
    https://docs.dagster.io/tutorial/testable
    """
    result = my_graph.execute_in_process()

    assert result.success
    assert result.result_for_node("hello").output_values == {"result": "Hello, Dagster!"}
