from pathlib import Path

from dagster_dbt import DbtProject

{{ dbt_project_name }} = DbtProject(
    project_dir=Path(__file__).joinpath({{ dbt_project_dir_relative_path_parts | join(', ')}}).resolve(),
    {%- if use_dbt_project_package_data_dir %}
    packaged_project_dir=Path(__file__).joinpath("..", "..", "dbt-project").resolve(),
    {%- endif %}
)
