{#
    Macro: generate_integer_values(from, to)

    This macro generates a SQL VALUES clause with a list of incrementing integers. The 'from' int to the 'to' int are inclusive.

    Parameters:
    - from: The starting integer of the range
    - to: The ending integer of the range

    Returns:
    A string representing a SQL VALUES clause with a list of incrementing integers.

    Example usage:
    {{ sdf_utils.generate_integer_values(1,5) }}

    This will generate:
    (VALUES 1,2,3,4,5)

#}

{% macro generate_integer_values(from, to) -%}
(VALUES
{% for i in range(from, to + 1) -%}{{i}}{{ "," if not loop.last else "" }}
{%- endfor %})
{% endmacro %}
