:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(60, 66, 87, 1);
  margin: 0;
}

p {
  line-height: 1.5em;
}


h1 {
  font-size: 40px;
}

h2 {
  margin: 1.5em 0;
}

a {
  color: rgba(75, 85, 99, 1);
}