# Pylint has many options that are divvied up by category. You can see the full list here:
#   https://pylint.pycqa.org/en/latest/technical_reference/features.html 
# Each [SECTION] below corresponds to a section in the above-linked document.

[MASTER]
ignore=snapshots
load-plugins=dagster.utils.linter

[MESSAGES CONTROL]
disable=C,  # convention-related checks
        R,  # refactoring-related checks
        bare-except,
        broad-except,
        duplicate-code,
        fixme,
        no-init,
        redefined-outer-name

[TYPECHECK]
ignored-classes=responses
signature-mutators=solid,composite_solid,lambda_solid,configured,op,graph

# See: https://stackoverflow.com/questions/40163106/cannot-find-col-function-in-pyspark
generated-members=pyspark.*
ignored-modules=pyspark.sql.functions
