[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).#
#
# R - refactoring related checks
# C - convention related checks
# W0511 disable TODO warning
# W1201, W1202 disable log format warning. False positives (I think)
# W0707 disable raise-missing-from which we cant use because py2 back compat

disable=C,R,duplicate-code,fixme,logging-not-lazy,logging-format-interpolation,raise-missing-from,no-init,broad-except,bare-except,redefined-outer-name

# See: https://github.com/getsentry/responses/issues/74
[TYPECHECK]
ignored-classes=responses
signature-mutators=solid,composite_solid,lambda_solid,configured,op,graph

[MASTER]
ignore=snapshots
load-plugins=dagster.utils.linter

# See: https://stackoverflow.com/questions/40163106/cannot-find-col-function-in-pyspark
generated-members=pyspark.*
ignored-modules=pyspark.sql.functions
