Sphinx==2.2.2; python_version >= '3.6'
sphinx-autobuild==0.7.1
# https://github.com/dagster-io/dagster/issues/1858
git+https://github.com/t-b/sphinxcontrib-images.git@c76b9c25efb249f9c5054adbb436455095c6d2f7#egg=sphinxcontrib-images
-e ./python_modules/dagster
-e ./python_modules/dagster-graphql
-e ./python_modules/dagit
-e ./python_modules/dagstermill
-e ./python_modules/libraries/dagster-airflow
-e ./python_modules/libraries/dagster-aws
-e ./python_modules/libraries/dagster-celery
-e ./python_modules/libraries/dagster-cron
-e ./python_modules/libraries/dagster-dask
-e ./python_modules/libraries/dagster-gcp
-e ./python_modules/libraries/dagster-k8s
-r ./python_modules/dagster/dev-requirements.txt
sphinx-click==2.3.1
recommonmark==0.4.0
