Sphinx==2.2.2; python_version >= '3.6'
sphinx-autobuild==0.7.1
-e ./python_modules/dagster
-e ./python_modules/dagster-graphql
-e ./python_modules/dagit
-e ./python_modules/libraries/dagstermill
-e ./python_modules/libraries/dagster-airflow
-e ./python_modules/libraries/dagster-aws
-e ./python_modules/libraries/dagster-celery
-e ./python_modules/libraries/dagster-celery-docker
-e ./python_modules/libraries/dagster-cron
-e ./python_modules/libraries/dagster-dask
-e ./python_modules/libraries/dagster-gcp
-e ./python_modules/libraries/dagster-k8s
-r ./python_modules/dagster/dev-requirements.txt
sphinx-click==2.3.1
recommonmark==0.4.0
