Sphinx==2.2.2
sphinx-autobuild==0.7.1
-e ./python_modules/dagster[test]
-e ./python_modules/dagster-graphql
-e ./python_modules/dagit
-e ./python_modules/libraries/dagster-airflow[test]
-e ./python_modules/libraries/dagster-aws
-e ./python_modules/libraries/dagster-azure
-e ./python_modules/libraries/dagster-celery
-e ./python_modules/libraries/dagster-celery-docker
-e ./python_modules/libraries/dagster-celery-k8s
-e ./python_modules/libraries/dagster-cron
-e ./python_modules/libraries/dagster-dask
-e ./python_modules/libraries/dagster-databricks
-e ./python_modules/libraries/dagster-datadog
-e ./python_modules/libraries/dagster-dbt
-e ./python_modules/libraries/dagster-docker
-e ./python_modules/libraries/dagster-gcp
-e ./python_modules/libraries/dagster-ge
-e ./python_modules/libraries/dagster-github
-e ./python_modules/libraries/dagster-k8s
-e ./python_modules/libraries/dagster-pagerduty
-e ./python_modules/libraries/dagster-pandas
-e ./python_modules/libraries/dagster-papertrail
-e ./python_modules/libraries/dagster-postgres
-e ./python_modules/libraries/dagster-prometheus
-e ./python_modules/libraries/dagster-pyspark
-e ./python_modules/libraries/dagster-shell
-e ./python_modules/libraries/dagster-slack
-e ./python_modules/libraries/dagster-snowflake
-e ./python_modules/libraries/dagster-spark
-e ./python_modules/libraries/dagster-ssh
-e ./python_modules/libraries/dagster-twilio
-e ./python_modules/libraries/dagstermill
-e ./python_modules/libraries/lakehouse
-e ./python_modules/automation
sphinx-click==2.3.1
recommonmark==0.4.0
