# ########################
# ##### BLACK
# ########################

# [Docs root]
#   https://black.readthedocs.io/en/stable/
# [Config option reference]
#   https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#command-line-options

[tool.black]
line-length = 100

# Black will refuse to run if it's not this version.
required-version = "22.3.0"

# Ensure black's output will be compatible with all listed versions.
target-version = ['py36', 'py37', 'py38', 'py39', 'py310']

# ########################
# ##### ISORT
# ########################

# [Docs root]
#   https://pycqa.github.io/isort/
# [Config option reference]
#   https://pycqa.github.io/isort/docs/configuration/options.html

# NOTE: File inclusion//exclusion/skip options are set at the invocation site
# and shouldn't be set in this config file.

[tool.isort]

# Ensures isort classifies imports from `dagster` as first-party in all environments. Without this
# there can be differences between buildkite and local dev.
known_first_party = ['dagster']

# Sets a variety of default options for parentheses etc that are compatible with black.
profile = "black"

# Sorts uppercase imports before lowercase improts.
case_sensitive=true

# profile=black just sets defaults, it won't read our line-length override in black's config
line_length=100

# ########################
# ##### PYLINT
# ########################

# [Docs root]
#   https://pylint.pycqa.org/en/latest/
# [Rule/options reference]
#   https://pylint.pycqa.org/en/latest/technical_reference/features.html 

# NOTE (2022-02-26): Pylint's docs are generally terrible, and googling often takes you on a wild
# goose chase. The docs are frequently wrong, and stay wrong for years even when many people point
# out the issue. If you encounter confusing behavior or want to figure out how something works, you
# can't trust the most obvious source-- for instance, the "Configuration" page in the docs seems to
# include a random set of info and doesn't even mention config files. For that, you have to look at
# the "Running pylint" page. To get accurate info, you may have to look through one or more of the
# following sources:
#
# [Features page] https://pylint.pycqa.org/en/latest/technical_reference/features.html
#   This is a comprehensive reference of all Pylint checkers/rules and seems to be one of the only
#   docs pages that's actually maintained.
# [Changelog] https://pylint.pycqa.org/en/latest/whatsnew/index.html
#   Often contains up-to-date info that corrects incorrect stuff in the older docs.
# [Github issues] https://github.com/PyCQA/pylint/issues
#   Best places to find workarounds or discussion/explanation of weird behavior.

# NOTE (2022-02-26): Running pylint in parallel (i.e. -j/--jobs option != 1) currently will not work
# (with Dagster's configuration) on some platforms (specifically macOS, maybe others). This is
# because of the `dagster.utils.linter` plugin, which contains extensions that can't be properly
# pickled. There are open issues discussing this problem but it looks like the situation is likely
# to persist for some time:
#   https://pylint.pycqa.org/en/latest/user_guide/run.html#parallel-execution
#   https://github.com/PyCQA/pylint/issues/4874

# Pylint has many options that are divvied up by category. Each [SECTION] below corresponds to a
# section in this doc:

[tool.pylint.master]
# As of pylint v2.12.2, `ignore` and `ignore-patterns` are broken and do not correctly filter
# directories. So we have to use `ignore-paths`. This should be fixed in 2.13.0-- then we filter
# basenames `snapshots` and `vendor`.
ignore-paths = [
  # 'snapshots',
  'python_modules/libraries/dagster-airflow/dagster_airflow/vendor'
]

# Minimum python version supported by Dagster.
py-version = 3.6

# Contains assorted Dagster-specific checks (for dev purposes, not users).
load-plugins=['dagster.utils.linter']

[tool.pylint.messages-control]
disable=[
  # [category] convention-related checks-- too much noise
  'C',
  # [category] refactoring-related checks-- too much noise
  'R', 

  # [checker] redundant with mypy
  'typecheck',  

  # There are many places where we want to catch a maximally generic exception.
  'bare-except',
  'broad-except',

  # Sometimes it's useful to leave `TODO` comments in the code.
  'fixme',

  # Pylint is by default very strict on logging string interpolations, but the
  # (performance-motivated) rules do not make sense for infrequent log messages (like error reports)
  # and make messages less readable.
  'logging-fstring-interpolation',
  'logging-format-interpolation',
  'logging-not-lazy',

   # Maybe we should transition in the future, but right now there are many instances in Dagster
   # code of manually wrapping outer exception text.
  'raise-missing-from',

  # This rule is incompatible with SDAs, which have parameters named the same as upstream assets.
  'redefined-outer-name',
]
>>>>>>> f6f381a25 (migrate pylint config to pyproject.toml)
