@font-face {
    font-family: 'Neue Montreal';
    font-weight: 400;
    src: url('/fonts/PPNeueMontreal-Book.otf?v=3.26') format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/PPNeueMontreal-Italic.otf?v=3.26') format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 500;
    src: url('/fonts/PPNeueMontreal-Medium.otf?v=3.26') format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 700;
    src: url('/fonts/PPNeueMontreal-Bold.otf?v=3.26') format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Diatype Mono';
    font-weight: 400;
    src: url('/fonts/ABCDiatypeMono-Regular.woff?v=3.26') format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Diatype Mono';
    font-weight: 500;
    src: url('/fonts/ABCDiatypeMono-Medium.woff?v=3.26') format("woff");
    font-display: swap;
}
