.optionsContainer {
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 5px 12px 5px 24px;
  border-bottom: 1px solid var(--color-keyline-default);
  background: var(--color-background-default);
  flex-shrink: 0;
  flex-wrap: wrap;
  z-index: 3;

  .dagster-cursor-controls {
    margin-top: 0;
    gap: 8px;

    @media (max-width: 1100px) {
      & .hideable-button-text {
        display: none;
      }
      & div[role='img'] {
        margin: 0;
      }
    }
  }
}

.optionsDivider {
  width: 30px;
  height: 25px;
}

.optionsSpacer {
  width: 30px;
}
