# Your account identifier. This is usually <your_org>-<your_account>. If yours has any underscores in it, specify them as hyphens here
SNOWFLAKE_ACCOUNT=<your_org>-<your_account>

# Create a user called BUILDKITE
SNOWFLAKE_USER=BUILDKITE

# Configure key-pair authentication for this user.
SNOWFLAKE_DEMO_PRIVATE_KEY=<private_key>

SNOWFLAKE_WAREHOUSE=<your_warehouse>

# Create the TESTDB database and TESTSCHEMA schema in your Snowflake account.
SNOWFLAKE_DATABASE=TESTDB
SNOWFLAKE_SCHEMA=TESTSCHEMA
