# Your account identifier. This is usually <your_org>-<your_account>. If yours has any underscores in it, specify them as hyphens here
SNOWFLAKE_ACCOUNT=<your_org>-<your_account>

# Create a user called BUILDKITE
SNOWFLAKE_USER=BUILDKITE

# Create a PAT Token which you can use as a password: https://docs.snowflake.com/en/user-guide/programmatic-access-tokens
SNOWFLAKE_PASSWORD=<pat_token>

SNOWFLAKE_WAREHOUSE=<your_warehouse>

# Create the TESTDB database and TESTSCHEMA schema in your Snowflake account.
SNOWFLAKE_DATABASE=TESTDB
SNOWFLAKE_SCHEMA=TESTSCHEMA
