
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Markdown Preview</title>
        <style>
            body {
                font-weight: 400;
                font-family: "Geist", "Inter", "Arial", sans-serif;
                font-size: 16px;
            }
            textarea {
                max-width: 100%;
                font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
                border: none;
                background-color: rgb(246, 248, 250);
                border-radius: 6px;
                padding: 16px;
            }
        </style>
    </head>
    <body>
        <div style="max-width: 75%; margin: 0 auto;"><h2>Component: <code>my_component_library.lib.ShellCommand</code></h2>
<h3>Description:</h3>
<p>Models a shell script as a Dagster asset.</p>
<h3>Component Schema:</h3>
<ul><li><strong>attributes</strong> - <code>object</code>  <br/><details>
              <summary>Subfields</summary>



              <ul>
                <li><strong>script_path</strong> - <code>string</code></li>

  <li><strong>asset_specs</strong> - <code>[object]</code>  <br/><details>
                <summary>Subfields</summary>



                <ul>
                <li><strong>deps</strong> - <code>[string]</code></li>

      <li><strong>description</strong> - <code>string | null</code>  <br/>Human-readable description of the asset.<br/>Example: <code>"Refined sales data"</code></li>

      <li><strong>metadata</strong> - <code>string</code>  <br/>Additional metadata for the asset.</li>

      <li><strong>group_name</strong> - <code>string | null</code>  <br/>Used to organize assets into groups, defaults to 'default'.<br/>Example: <code>"staging"</code></li>

      <li><strong>skippable</strong> - <code>boolean</code>  <br/>Whether this asset can be omitted during materialization, causing downstream dependencies to skip.</li>

      <li><strong>code_version</strong> - <code>string | null</code>  <br/>A version representing the code that produced the asset. Increment this value when the code changes.<br/>Example: <code>"3"</code></li>

    <li><strong>owners</strong> - <code>[string]</code></li>

      <li><strong>tags</strong> - <code>string</code>  <br/>Tags for filtering and organizing.<br/>Example: <code>{
          "team": "analytics",
          "tier": "prod"
        }</code></li>

    <li><strong>kinds</strong> - <code>[string]</code></li>

      <li><strong>automation_condition</strong> - <code>string | null</code>  <br/>The condition under which the asset will be automatically materialized.</li>

      <li><strong>key</strong> - <code>string</code>  <br/>A unique identifier for the asset.</li>

                </ul>
                </details></li>

              </ul>
              </details></li>
</ul>

<h3>Sample Component YAML:</h3>
<textarea rows=24 cols=100>
type: my_component_library.lib.ShellCommand

attributes:
  script_path: '...'
  asset_specs:
    - deps:
        - my_database/my_schema/upstream_table
      description: Refined sales data
      metadata: '...'
      group_name: staging
      skippable: false
      code_version: '3'
      owners:
        - team:analytics
        - nelson@hooli.com
      tags:
        team: analytics
        tier: prod
      kinds:
        - snowflake
      automation_condition: '...'
      key: '...'

</textarea></div>
    </body>
    </html>
