
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Markdown Preview</title>
    </head>
    <body>
        <h2>Component: <code>my_component_library.shell_command</code></h2>
<h3>Description:</h3>
<p>Models a shell script as a Dagster asset.</p>
<h3>Sample Component Params:</h3>
<textarea rows=24 cols=100>
type: my_component_library.shell_command

params:
  script_path: '...'
  asset_attributes:
    deps:
      - '...'
    description: '...'
    metadata: '...'
    group_name: '...'
    skippable: false
    code_version: '...'
    owners:
      - '...'
    tags: '...'
    kinds:
      - '...'
    automation_condition: '...'
    key: '...'
  op:
    name: '...'
    tags: {}

</textarea>
    </body>
    </html>
