black==18.9b0; python_version >= '3.6'
flake8>=3.7.8
isort>=4.3.21
nbsphinx==0.4.2
pylint>=2.4.1; python_version >= '3.6'
pytest==4.6.3
pytest-cov==2.7.1
pytest-dependency==0.4.0
pytest-runner==5.1
recommonmark==0.4.0
rope==0.11
snapshottest==0.5.0
Sphinx>=2.2; python_version >= '3.6'
sphinx-autobuild==0.7.1
# https://github.com/dagster-io/dagster/issues/1858
git+https://github.com/t-b/sphinxcontrib-images.git@c76b9c25efb249f9c5054adbb436455095c6d2f7#egg=sphinxcontrib-images
twine==1.11.0
pre-commit==1.10.1
tox==3.6.1
mock==2.0.0
