black==18.9b0; python_version >= '3.6'
pylint==2.2.2; python_version >= '3.6'
pytest==4.0.2
pytest-cov==2.6.0
pytest-dependency==0.4.0
pytest-runner==4.2
recommonmark==0.4.0
rope==0.11
Sphinx==1.7.5
sphinx-autobuild==0.7.1
yapf==0.22.0
twine==1.11.0
pre-commit==1.10.1
tox==3.6.1
