include README.md
include LICENSE
include COPYING
include dagster/py.typed
include dagster/_grpc/__generated__/dagster_api_pb2.pyi
include dagster/_vendored/croniter/LICENSE
include dagster/_vendored/dateutil/LICENSE
exclude python_modules/dagster/dagster/_core/types/ruff.toml
recursive-include dagster *.md
recursive-include dagster/_core/storage/alembic *
recursive-include dagster/_core/storage/event_log/sqlite/alembic *
recursive-include dagster/_core/storage/runs/sqlite/alembic *
recursive-include dagster/_core/storage/schedules/sqlite/alembic *
recursive-include dagster/_generate/templates *
recursive-include dagster *.proto
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.g4
global-exclude *.interp
global-exclude *.tokens
global-exclude Makefile
global-exclude *ruff.toml
