include README.rst
include LICENSE
include COPYING
recursive-include dagster *.md
recursive-include dagster/core/storage/event_log/sqlite/alembic *
recursive-include dagster/core/storage/runs/sqlite/alembic *
recursive-include dagster/core/storage/schedules/sqlite/alembic *
recursive-include dagster/generate/new_project *
recursive-include dagster *.proto
global-exclude __pycache__
global-exclude *.py[co]