include README.rst
include LICENSE
include COPYING
recursive-include dagster *.md
recursive-include dagster/_core/storage/event_log/sqlite/alembic *
recursive-include dagster/_core/storage/runs/sqlite/alembic *
recursive-include dagster/_core/storage/schedules/sqlite/alembic *
recursive-include dagster/_generate/new_project *
recursive-include dagster *.proto
recursive-include dagster py.typed
global-exclude __pycache__
global-exclude *.py[co]
