/* TODO: Refactor with scss to simplify/match other docs styling, merge with card styling in custom.scss */

.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
  border: 1px solid var(--theme-color-keyline);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  padding: 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: .75rem;
  height: 100%;
  border-radius: 8px;
  justify-self: stretch;
}

.cardContainer:hover {
  box-shadow: 0 0 8px 0 var(--dagster-blue-translucent-30);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 0.2rem;
  line-height: 1.25rem;
}

.cardSubtitle {
  font-size: 1rem;
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
  color: var(--theme-color-text-blue) !important;
}

.cardTags {
  padding: 4px 8px;
  background: var(--theme-color-background-gray);
  border-radius: 8px;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--theme-color-text-light);
}

.cardDescription {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.25rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--theme-color-text-light);
}

.cardLogo {
  width: 4rem;
  height: 4rem;
  background: var(--dagster-white);
  padding: .25rem;
  flex-shrink: 0;
  border-radius: 4px !important;
}

.cardTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.cardTitleWrapper .cardTags {
  margin-left: 8px;
}
