.container {
  height: calc(100% - 64px);
}

.container.fullScreen {
  height: 100%;
}

.main {
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-left: var(--left-nav-width);
  width: calc(100% - var(--left-nav-width));
}

.main.hideNav {
  margin-left: 0;
  width: 100%;
}

.childContainer {
  height: 100%;
  overflow: hidden;
}
