.shortcutAnnotation {
  position: fixed;
  min-width: 32px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  padding: 2px;
  z-index: 20;
  transform: translate(-90%, -10px);
  color: var(--color-tooltip-text);
  background: var(--color-tooltip-background);
  border: 1px solid var(--color-border-hover);
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--color-shadow-default);
}