# -*- coding: utf-8 -*-

root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Python files
[*.py]
indent_size = 4
# isort plugin configuration
known_first_party = sphinx_click
multi_line_output = 2
default_section = THIRDPARTY
skip = .eggs docs

# RST files (used by sphinx)
[*.rst]
indent_size = 3

# CSS, HTML, JS, JSON, YML
[*.{css,html,js,json,yml}]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 2

# Dockerfile
[Dockerfile]
indent_size = 4

# Makefile
[Makefile]
indent_size = 4
