[project]
name = "my_existing_project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9,<3.13"
dependencies = [
    "dagster",
    "dagster-components",
]

[project.optional-dependencies]
dev = [
    "dagster-webserver",
    "pytest>8",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.dg]
directory_type = "project"

[tool.dg.project]
root_module = "my_existing_project"
defs_module = "my_existing_project.defs"

[tool.dagster]
module_name = "my_existing_project.definitions"
code_location_name = "my_existing_project"

[tool.setuptools.packages.find]
exclude=["my_existing_project_tests"]
