[sdk]
workflow_packages=workflows
python_venv=flytekit_venv

[auth]
assumable_iam_role:arn:aws:iam::123:role/test-role

[platform]
url=127.0.0.1:30081
insecure=True

[aws]
s3_shard_formatter=s3://my-s3-bucket/{}
s3_shard_string_length=2
endpoint=http://minio:9000
access_key_id=minio
secret_access_key=miniostorage