[project]
name = "{{ project_name }}"
requires-python = ">=3.9,<=3.13.3"
version = "0.1.0"
{{ dependencies }}

[dependency-groups]
{{ dev_dependencies }}

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.dg]
directory_type = "project"

[tool.dg.project]
root_module = "{{ project_name }}"
registry_modules = [
    "{{ project_name }}.components.*",
]

{{ uv_sources }}
