# {{ project_name }}

Welcome to your new Dagster project!

## Getting started

First, install the dependencies of your newly created Dagster project.

```bash
uv venv
```

```bash
source .venv/bin/activate
```

```bash
uv sync
```

Then, start the Dagster UI web server:

```bash
dg dev
```

Open http://localhost:3000 with your browser to see the project.

## Learn more

To learn more about this template and Dagster in general:

- [Dagster Documentation](https://docs.dagster.io/)
- [Dagster University](https://courses.dagster.io/)
- [Dagster Slack Community](https://dagster.io/slack)
