.schemaContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.schemaTitle {
  font-family: var(--font-geist-mono);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--color-text-light);
}

.propertyContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 0 2px var(--color-keyline-default);
}

.chevronContainer {
  margin-top: 2px;
}

.expandButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 16px;
  text-align: left;
  font-family: var(--font-geist);
  color: var(--color-text-light);
  border-radius: 8px;
  transition: background-color 50ms linear;
}

.expandButton.expanded {
  border-radius: 8px 8px 0 0;
}

.expandButton:disabled {
  cursor: default;
}

.expandButton:not(:disabled):hover {
  background-color: var(--color-background-light);
}

.expandButton .chevron {
  transform: rotate(-90deg);
  transition: transform 0.1s linear;
}

.expandButton.expanded .chevron {
  transform: rotate(0deg);
}

.expansionContainer {
  padding: 0 16px 16px 16px;
}

.property {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.propertyNameAndTypes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.propertyName {
  font-family: var(--font-geist-mono);
  font-weight: 600;
  margin-right: 12px;
  color: var(--color-text-default);
}

.propertyDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.propertyDescription {
  font-size: 12px;
  color: var(--color-text-lighter);
  line-height: 16px;
}

.propertyDefault {
  font-size: 12px;
  color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.propertyDefaultValue {
  font-family: var(--font-geist-mono);
  color: var(--color-text-blue);
}

.propertyExamples {
  font-size: 12px;
  color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.propertyExamplesValue {
  font-family: var(--font-geist-mono);
  color: var(--color-text-blue);
}

.required {
  background-color: var(--color-background-blue);
  border: none;
  border-radius: 4px;
  font-family: var(--font-geist-mono);
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-blue);
}

.anyOf {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.anyOfLabel {
  white-space: nowrap;
}

.expansion {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.expansion:first-child {
  margin-top: 8px;
}
