# Workspaces specify where to find user code in order to load it for Dagit and the Dagster CLI.
# See our documentation overview on Workspaces: https://docs.dagster.io/overview/repositories-workspaces/workspaces
load_from:
  - python_package: {{ repo_name }}
