@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-margin-top {
    scroll-margin-top: 90px;
  }
}

@layer base {
  html {
    font-feature-settings: "ss02";
    letter-spacing: 0.0175em;
  }

  ::selection {
    background: #DEDDFF; /* WebKit/Blink Browsers */
    color: #21463D;
  }
  ::-moz-selection {
    background: #DEDDFF; /* WebKit/Blink Browsers */
    color: #21463D;
  }

  code {
    background: #231F1B;
    color: #ccc;
    font-family: 'Courier New';
    padding: 4px 6px;
    border-radius: 4px;
  }
}

page {
  position: fixed; 
  top: 5rem;
  display: flex;
  width: 100vw;
  flex-grow: 1;
  max-width: 1280px;
}

main {
  overflow: auto;
  height: calc(100vh - var(--top-nav-height));
  flexGrow: 1;
  fontSize: 16px;
  padding: 0 5rem 5rem;
}

p {
  color: #524e48;
  font-family: 'Helvetica';
  font-size: 1.2rem;
  line-height: 1.3em;
  font-weight: 400;
}