.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  --nav-width: 240px;
  --nav-width-collapsed: 68px;
}

.nav {
  flex: 0 0 var(--nav-width);
  height: 100%;
  padding: 16px 4px 16px 16px;
  box-shadow: inset -1px 0 0 var(--color-keyline-default);
  overflow-y: auto;
}

.nav.hidden {
  display: none;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--nav-width));
}

.main.fullScreen {
  width: 100%;
}

.child {
  height: 100%;
  overflow: hidden;
}

.container:has(.nav.collapsed) .main {
  width: calc(100% - var(--nav-width-collapsed));
}

.nav.collapsed {
  flex: 0 0 var(--nav-width-collapsed);
  padding: 16px 2px;
}
