.itemLink {
  white-space: normal;
  color: var(--color-text-default);
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itemLink:hover {
  color: var(--color-text-default);
  text-decoration: none;
}

.externalLink {
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--color-link-default);
}

.externalLink:hover {
  color: var(--color-link-default);
  text-decoration: none;
}

.externalLink:hover div[role='img'] {
  background-color: var(--color-link-default);
}
