.marketplaceTopNavLink {
  background-color: var(--color-nav-button);
  color: var(--color-nav-text-selected);
  transition:
    background-color 0.1s linear,
    color 0.1s linear;
  padding: 0 12px;
  border-radius: 16px;
  text-decoration: none;
  height: 32px;
}

.marketplaceTopNavLink:hover {
  background-color: var(--color-nav-button-hover);
  color: var(--color-nav-text-hover);
  text-decoration: none;
}

.marketplaceTopNavLink div[role='img'] {
  transition: background-color 0.1s linear;
}

.marketplaceTopNavLink:hover div[role='img'] {
  background-color: var(--color-nav-text);
}

.marketplaceTopNavLinkContent {
  height: 100%;
}
