.inlineCode {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--color-background-blue);
  box-shadow: inset 0 0 0 1px var(--color-keyline-default);
}

a .inlineCode {
  font-weight: bold;
}

.codeBlock {
  position: relative;
  background-color: var(--color-background-lighter);
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--color-keyline-default);
  padding: 16px;
}

.codeBlock .copyButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.codeBlock :global(.hljs) {
  background: transparent;
  color: var(--color-text-default);
}

.codeBlock {
  color: var(--color-text-cyan);
}

.codeBlock :global(.hljs-doctag),
.codeBlock :global(.hljs-keyword),
.codeBlock :global(.hljs-meta .hljs-keyword),
.codeBlock :global(.hljs-template-tag),
.codeBlock :global(.hljs-template-variable),
.codeBlock :global(.hljs-type),
.codeBlock :global(.hljs-variable.language_) {
  color: var(--color-text-blue);
}

.codeBlock :global(.hljs-title),
.codeBlock :global(.hljs-title.class_),
.codeBlock :global(.hljs-title.class_.inherited__),
.codeBlock :global(.hljs-title.function_) {
  color: var(--color-text-yellow);
}

.codeBlock :global(.hljs-attr),
.codeBlock :global(.hljs-attribute),
.codeBlock :global(.hljs-literal),
.codeBlock :global(.hljs-meta),
.codeBlock :global(.hljs-number),
.codeBlock :global(.hljs-operator),
.codeBlock :global(.hljs-selector-attr),
.codeBlock :global(.hljs-selector-class),
.codeBlock :global(.hljs-selector-id),
.codeBlock :global(.hljs-variable) {
  color: var(--color-text-light);
}

.codeBlock :global(.hljs-meta .hljs-string),
.codeBlock :global(.hljs-regexp),
.codeBlock :global(.hljs-string) {
  color: var(--color-text-red);
}

.codeBlock :global(.hljs-built_in),
.codeBlock :global(.hljs-symbol) {
  color: var(--color-text-yellow);
}

.codeBlock :global(.hljs-code),
.codeBlock :global(.hljs-comment),
.codeBlock :global(.hljs-formula) {
  color: var(--color-text-lighter);
}

.codeBlock :global(.hljs-name),
.codeBlock :global(.hljs-quote),
.codeBlock :global(.hljs-selector-pseudo),
.codeBlock :global(.hljs-selector-tag) {
  color: var(--color-text-green);
}

.codeBlock :global(.language-yaml) :global(.hljs-attr) {
  color: var(--color-text-white);
}
