.integrationPage {
  color: var(--color-text-light);
  font-size: 14px;
}

.markdownOutput p {
  margin: 16px 0;
  line-height: 24px;
}

.markdownOutput ul {
  line-height: 24px;
}

.markdownOutput h2,
.markdownOutput h3 {
  color: var(--color-text-default);
  margin-top: 24px;
}

.markdownOutput details {
  background: var(--color-background-cyan);
  border: 1px solid var(--color-accent-cyan);
  border-radius: 8px;
  padding: 12px;
  color: var(--color-text-default);
}
.markdownOutput details[open] summary {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-accent-cyan);
}
