.repoLabel {
  cursor: pointer;
  display: block;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  top: 1px;
  transition: filter 50ms linear;
  user-select: none;
  white-space: nowrap;
}

.repoLabel:focus,
.repoLabel:active {
  outline: none;
}

.repoLabel:hover {
  filter: opacity(0.8);
}

.repoLocation {
  color: var(--color-text-light);
}