.opIOContainer {
  display: inline-flex;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--color-background-default);
  font-size: 12px;
}

.opIOContainer:first-child {
  border-top-left-radius: 8px;
}

.opIOContainer:last-child {
  border-bottom-left-radius: 8px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color-accent-gray);
  display: inline-block;
  margin: 6px;
}

.circleHighlighted {
  background: var(--color-accent-blue);
}

.label {
  line-height: 26px;
  font-family: var(--font-mono);
  font-weight: 500;
  height: 26px;
  padding-left: 2px;
  padding-right: 6px;
}

.type {
  padding: 1px 6px;
  background: var(--color-background-blue);
  margin-right: 4px;
  color: var(--color-text-blue);
  font-family: var(--font-mono);
  font-weight: 700;
  border-radius: 4px;
}

.collapsedCount {
  color: var(--color-text-light);
  font-weight: 600;
  margin-left: -3px;
  padding-right: 4px;
}

.collapsedCountHighlighted {
  color: var(--color-text-blue);
}
