# {{EXAMPLE_NAME}}

Description of example goes here

## Open in a playground

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#EXAMPLE={{EXAMPLE_NAME}}/https://github.com/dagster-io/dagster)

## Download

```
curl https://codeload.github.com/dagster-io/dagster/tar.gz/master | tar -xz --strip=2 dagster-master/examples/{{EXAMPLE_NAME}}
cd {{EXAMPLE_NAME}}
```
