agate==1.7.0
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.11.1
aniso8601==9.0.1
anyio==3.7.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asn1crypto==1.5.1
-e examples/assets_pandas_type_metadata
astroid==2.15.5
asttokens==2.2.1
async-lru==2.0.2
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.0.0
boto3==1.26.76
botocore==1.29.76
buildkite-test-collector==0.1.7
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
coloredlogs==14.0
comm==0.1.3
contourpy==1.1.0
coverage==7.2.7
croniter==1.4.1
cryptography==40.0.2
cycler==0.11.0
-e python_modules/dagit
-e python_modules/dagster
-e python_modules/libraries/dagster-aws
-e python_modules/libraries/dagster-dbt
-e python_modules/libraries/dagster-duckdb
-e python_modules/libraries/dagster-duckdb-pandas
-e python_modules/libraries/dagster-duckdb-pyspark
-e python_modules/dagster-graphql
dagster-pandas==0.11.14
-e python_modules/libraries/dagster-pandera
-e python_modules/libraries/dagster-postgres
-e python_modules/libraries/dagster-pyspark
-e python_modules/libraries/dagster-slack
-e python_modules/libraries/dagster-snowflake
-e python_modules/libraries/dagster-snowflake-pandas
-e python_modules/libraries/dagster-snowflake-pyspark
-e python_modules/libraries/dagster-spark
dbt-core==1.5.2
dbt-duckdb==1.5.2
dbt-extractor==0.4.1
dbt-snowflake==1.5.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
docker==6.1.3
docstring-parser==0.15
duckdb==0.8.1
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
fastdiff==0.3.0
fastjsonschema==2.17.1
filelock==3.12.2
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gcsfs==2023.6.0
google-api-core==2.11.1
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gql==3.4.1
graphene==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
grpcio==1.56.0
grpcio-health-checking==1.56.0
grpcio-tools==1.56.0
h11==0.14.0
hologram==0.0.16
httptools==0.5.0
humanfriendly==10.0
idna==3.4
importlib-metadata==6.7.0
iniconfig==2.0.0
ipykernel==6.23.3
ipython==8.14.0
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.23.0
keyring==23.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
leather==0.3.4
Logbook==1.5.3
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mashumaro==3.6
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistune==3.0.1
mock==3.0.5
more-itertools==9.1.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
mypy==1.4.1
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==2.8.8
nodeenv==1.8.0
notebook_shim==0.2.3
numpy==1.25.0
oauthlib==3.2.2
objgraph==3.6.0
oscrypto==1.3.0
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandas-stubs==2.0.2.230605
pandera==0.15.1
pandocfilters==1.5.0
parsedatetime==2.4
parso==0.8.3
pathspec==0.11.1
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.8.0
pluggy==1.2.0
-e examples/project_fully_featured
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.7
pyarrow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.9
Pygments==2.15.1
PyJWT==2.7.0
pylint==2.17.4
pyOpenSSL==23.2.0
pyparsing==3.1.0
pyright==1.1.298
pyrsistent==0.19.3
pyspark==3.4.1
pytest==7.0.1
pytest-cov==2.10.1
pytest-dependency==0.5.1
pytest-forked==1.6.0
pytest-mock==3.3.1
pytest-rerunfailures==10.0
pytest-runner==5.2
pytest-xdist==2.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.1.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.23.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rsa==4.9
s3fs==2023.6.0
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.11.0
seaborn==0.12.2
Send2Trash==1.8.2
shellingham==1.5.0.post1
six==1.16.0
slack-sdk==3.21.3
snapshottest==0.6.0
sniffio==1.3.0
snowflake-connector-python==3.0.4
snowflake-sqlalchemy==1.4.7
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.48
sqlparse==0.4.3
stack-data==0.6.2
starlette==0.28.0
tabulate==0.9.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toposort==1.10
tornado==6.3.2
tox==3.25.0
tqdm==4.65.0
traitlets==5.9.0
typeguard==4.0.0
typer==0.9.0
types-backports==0.1.3
types-certifi==2021.10.8.3
types-chardet==5.0.4.6
types-croniter==1.4.0.0
types-cryptography==3.3.23.2
types-mock==5.0.0.7
types-paramiko==3.2.0.0
types-pkg-resources==0.1.3
types-pyOpenSSL==23.2.0.1
types-python-dateutil==2.8.19.13
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-simplejson==3.19.0.1
types-six==1.16.21.8
types-SQLAlchemy==1.4.53.34
types-tabulate==0.9.0.2
types-toml==0.10.8.6
types-tzlocal==5.0.1.0
types-urllib3==1.26.25.13
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
universal_pathlib==0.0.23
uri-template==1.3.0
urllib3==1.26.16
uvicorn==0.22.0
uvloop==0.17.0
virtualenv==20.23.1
wasmer==1.1.0
wasmer-compiler-cranelift==1.1.0
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.3.6
wrapt==1.15.0
yamllint==1.32.0
yarl==1.9.2
zipp==3.15.0
