@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('inter-v7-latin-500.woff2') format('woff2'),
    url('inter-v7-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('inter-v7-latin-regular.woff2') format('woff2'),
    url('inter-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('inter-v7-latin-600.woff2') format('woff2'),
    url('inter-v7-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('inconsolata-v21-latin-regular.woff2') format('woff2'),
    url('inconsolata-v21-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('inconsolata-v21-latin-500.woff2') format('woff2'),
    url('inconsolata-v21-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('inconsolata-v21-latin-600.woff2') format('woff2'),
    url('inconsolata-v21-latin-600.woff') format('woff');
}
