from dagster import repository

from {{ repo_name }}.pipelines.my_pipeline import my_pipeline
from {{ repo_name }}.schedules.my_hourly_schedule import my_hourly_schedule
from {{ repo_name }}.sensors.my_sensor import my_sensor


@repository
def {{ repo_name }}():
    """
    The repository definition for this {{ repo_name }} Dagster repository.

    For hints on building your Dagster repository, see our documentation overview on Repositories:
    https://docs.dagster.io/overview/repositories-workspaces/repositories
    """
    pipelines = [my_pipeline]
    schedules = [my_hourly_schedule]
    sensors = [my_sensor]

    return pipelines + schedules + sensors
