/*
 *
 *  First, theme overrides
 *
 */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #1c2844;
  font-size: 17px;
  line-height: 25px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6,
div.sphinxsidebar h3,
div.sphinxsidebar h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #1c2844;
  font-size: 30px;
}

div.body {
  /* This is set to 450px in basic.css upstream which breaks the view on mobile, so we
  override here */
  min-width: 0;
}

div.body h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 140%;
}
div.body h2 {
  font-size: 110%;
}
div.body h3 {
  font-size: 100%;
}
div.body h4 {
  font-size: 100%;
}
div.body h5 {
  font-size: 100%;
}
div.body h6 {
  font-size: 100%;
}

div.body img {
  max-width: 80%;
  height: auto;
  margin: 20px auto 20px auto;
  border: 1px solid #333;
  display: block;
}

div.sphinxsidebar a {
  border-bottom: none;
}

a.reference {
  border-bottom: none;
}

/* Don't put a border around hand-drawn diagrams in the reference section */
div.body .section a.reference img {
  border: 0px;
}

/* Don't make images into links in the reference section */
div.body #reference a.image-reference {
  pointer-events: none;
  cursor: default;
}

.bodywrapper {
  padding-top: 21px;
  max-width: 950px;
  margin: 0 auto;
}

.document {
  max-width: 1200px;
}

#documentation {
  display: none;
}

pre {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
}

/* This is the "Dagster" sidebar header */
div.sphinxsidebar h3 > a {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  padding-left: -2px;
}
div.sphinxsidebar h3 > a:hover {
  color: #2391eb;
}

/* Main sections - install, learn, etc. */
div.sphinxsidebar ul li.toctree-l1 > a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: #555;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
div.sphinxsidebar ul li.toctree-l1 {
  line-height: 190%;
}

div.sphinxsidebar ul li.toctree-l2 {
  line-height: 180%;
}

div.sphinxsidebar li.toctree-l1 > a:hover {
  color: #2391eb;
  border-bottom: 1px solid #2391eb;
}

div.sphinxsidebar > div > ul > li > ul {
  margin-left: 0px;
}

div.sphinxsidebar li.toctree-l1 a.current {
  color: #2391eb;
}

div.sphinxsidebar li.toctree-l1 > ul {
  list-style: none;
}

div.sphinxsidebar ul li.toctree-l2 > a {
  font-size: 17px;
}

div.sphinxsidebar li.toctree-l2 > ul {
  list-style: none;
}

div.sphinxsidebar ul li.toctree-l3 > a {
  font-size: 17px;
}

div.sphinxsidebar li.toctree-l3::before {
  content: "\2022";
  color: #1c2844;
  display: inline-block;
  width: 10px;
  margin-left: -15px;
}

@media screen and (max-width: 875px) {
  body {
    margin: 0;
  }

  div.sphinxsidebar ul li.toctree-l1 > a {
    color: rgb(170, 170, 170);
  }

  div.sphinxsidebar li.toctree-l3::before {
    content: "\2022";
    color: rgb(170, 170, 170);
    display: inline-block;
    width: 10px;
    margin-left: -15px;
  }

  div.sphinxsidebar {
    display: block;
    float: none;
    width: 110%;
    background: #333;
  }

  body .why_dagster {
    width: 90%;
  }

  body .value_prop_block {
    flex: 0 0 90%;
  }

  .bodywrapper {
    margin: 0 0 0 220px;
  }
}

#rellinks {
  color: #1c2844;
}

#rellinks a {
  color: #2391eb;
  text-decoration: none;
}

#rellinks a:hover {
  text-decoration: underline;
  text-decoration-color: #2391eb;
}

.body a.reference {
  color: #2391eb;
  text-decoration: none;
}

.body a.reference:hover {
  text-decoration: underline;
  text-decoration-color: #2391eb;
  border-bottom: none;
}

/*
 *
 *  Now for dagster-specific stuff
 *
 */

.logo_img {
  padding: 30px 0 30px 0;
  display: block;
  margin: 0 auto;
}

.logo_img > img {
  max-height: 220px;
}

.dagster {
  text-align: center;
}

.why_dagster {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 33px;
}

.why_dagster h1 {
  font-size: 29px;
  line-height: 44px;
  margin: 0;
  padding: 0;
}

.get_started {
  background-color: hsl(205, 85%, 55%);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid hsl(205, 60%, 45%);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 28px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #2f6627;
}
.get_started:hover {
  background-color: hsl(205, 85%, 60%);
  color: #ffffff;
  border: 1px solid hsl(205, 60%, 50%);
  text-decoration: none;
}
.get_started:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}

.value_prop_blocks {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
}

.value_prop_block {
  width: calc(33.3333% + -30px);
  margin: 15px;
  padding: 0px;
  flex: 0 0 210px;
  text-align: left;
}

.value_prop_block h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 100%;
  text-align: center;
}

div.section > dl.class {
  background: rgb(250, 250, 250);
  margin: 15px 0px;
  padding: 5px;
}

div.section > dl.class > dt {
  background: rgb(240, 240, 240);
}

div.section > dl.function {
  background: rgb(250, 250, 250);
  margin: 15px 0px;
  padding: 5px;
}

div.section > dl.function > dt {
  background: rgb(240, 240, 240);
}

div.section > dl.attribute {
  background: rgb(250, 250, 250);
  margin: 15px 0px;
  padding: 5px;
}

div.section > dl.attribute > dt {
  background: rgb(240, 240, 240);
}

#searchlabel {
  margin-bottom: 0px;
}

div.sphinxsidebar input {
  font-family: "Source Sans Pro", sans-serif;
}

.top-bar {
  background-color: #1b70bb;
  text-align: center;
  color: white;
  padding: 8px;
}

.top-bar a {
  color: white;
}
