.container {
  background-color: var(--color-background-light);
  padding: 2px 24px;
}

.container:hover {
  background-color: var(--color-background-light-hover);
}

.checkboxContainer label {
  padding: 8px 10px 8px 12px;
  line-height: 0;
  margin-left: -12px;
}
