.headersContainer {
  display: flex;
  color: var(--color-text-light);
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid var(--color-keyline-default);
  z-index: 2;
}

.headerContainer {
  flex-shrink: 0;
  position: relative;
  user-select: none;
  display: inline-block;
  padding: 0 12px;
  line-height: 32px;
}

.headerDragHandle {
  width: 1px;
  height: 20000px;
  position: absolute;
  padding: 0 2px;
}

.headerLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoContainer {
  /* For Info column */
}
