from setuptools import find_packages, setup

setup(
    name="{{ code_location_name }}",
    packages=find_packages(exclude=["{{ code_location_name }}_tests"]),
    install_requires=[
        "dagster",
        "dagster-cloud"
    ],
    extras_require={"dev": ["dagster-webserver", "pytest"]},
)
