@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-margin-top {
    scroll-margin-top: 90px;
  }
}

@layer base {
  html {
    font-feature-settings: 'ss02';
    letter-spacing: 0.0175em;
  }

  ::selection {
    background: #deddff; /* WebKit/Blink Browsers */
    color: #21463d;
  }
  ::-moz-selection {
    background: #deddff; /* WebKit/Blink Browsers */
    color: #21463d;
  }
}

page {
  position: fixed;
  top: 5rem;
  display: flex;
  width: 100vw;
  flex-grow: 1;
  /* max-width: 1280px; */
}

main {
  overflow: auto;
  height: calc(100vh - var(--top-nav-height));
  flex-grow: 1;
  font-size: 16px;
  padding: 0 5rem 5rem;
}
