/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=clike+json+python+yaml */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: 'Courier New';
  font-size: 1.2rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  width: 100%;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #231f1b;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #a19d99;
}

.token.punctuation {
  color: #dad8d6;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #b9b4f1;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #fcbc41;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #fcbc41;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #b9b4f1;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #a7ffbf;
}

.token.operator,
.token.entity,
.token.url {
  background-color: transparent;
  color: #49c188;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
