from dagster import Definitions
from dagster._components import Component, ComponentLoadContext

class {{ component_type_class_name }}(Component):

    @classmethod
    def generate_files(cls) -> None:
        ...

    def build_defs(self, load_context: ComponentLoadContext) -> Definitions:
        ...
