.truncatedHeading {
  max-width: 300px;
  overflow: hidden;
}

.breadcrumbsWithSlashes .bp5-breadcrumbs {
  height: auto;
  min-height: 30px;
}

.breadcrumbLink {
  color: var(--color-text-light);
  white-space: nowrap;
}

.breadcrumbLink:hover,
.breadcrumbLink:active {
  color: var(--color-text-light);
}
