.item {
  border-radius: 8px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  user-select: none;
  transition:
    background 50ms linear,
    color 50ms linear;
}

.item:hover {
  text-decoration: none;
}

.item:focus {
  outline: 0;
}

.item.focused {
  border-left: 4px solid var(--color-border-default);
}

.itemActive {
  background-color: var(--color-background-blue);
  color: var(--color-text-blue) !important;
}

.itemActive:hover {
  background-color: var(--color-background-blue);
}

.itemInactive {
  background-color: transparent;
  color: var(--color-text-default) !important;
}

.itemInactive:hover {
  background-color: var(--color-background-lighter);
}
