@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Mono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
}

//Global Styles

:root {
  --theme-font-base: 'Geist', 'Inter', 'Arial', sans-serif;
  --theme-font-mono: 'Geist-Mono', monospace;
  --theme-font-size-base: 15px;
  --theme-font-size-sm: 13px;
  --theme-font-size-lg: 18px;
  --ifm-font-weight-semibold: 600;
  --ifm-font-family-base: var(--theme-font-base);
  --ifm-heading-font-family: var(--theme-font-base);
  --ifm-font-family-monospace: var(--theme-font-mono);
  --ifm-code-font-size: 86%;
  --ifm-background-color: var(--theme-accent-red);
  --ifm-navbar-item-padding-horizontal: 0;
  --ifm-tabs-color-active: var(--theme-color-accent-blue);
  --ifm-tabs-color-active-border: var(--theme-color-accent-blue);
  --ifm-tabs-color: var(--theme-color-text-default);
  --ifm-tabs-color-hover: var(--theme-color-background-light);
  --ifm-table-head-color: var(--theme-color-text-default);
  --ifm-table-head-background: var(--theme-color-background-light);
  --ifm-table-stripe-background: var(--theme-color-background-light);
  --ifm-footer-padding-vertical: 24px;
  --ifm-footer-padding-horizontal: 0px;
  --ifm-footer-link-color: var(--theme-color-text-lighter);
  --ifm-global-spacing: 24px;
  --ifm-navbar-padding-vertical: 0px;
  --ifm-navbar-item-padding-horizontal: 0px;
  --ifm-navbar-item-padding-vertical: 20px;
  --docsearch-highlight-color: var(--theme-color-background-gray) !important;
  --docsearch-hit-active-color: var(--theme-color-text-default) !important;
  --ifm-card-background-color: var(--theme-color-background-light);
  --ifm-card-border-color: var(--theme-color-keyline);
  --ifm-alert-padding-vertical: 16px;
  --ifm-alert-background-color: var(--theme-color-background-light) !important;
  --ifm-color-secondary-contrast-background: var(--theme-color-background-light) !important;
}
