GITHUB_TOKEN=your_token_here
GITHUB_REPO=dagster-io/dagster

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword

DEST_DUCKDB_PATH=./data.duckdb
