# Airflow should be provided by the end user, not us. For example, GCP Cloud Composer
# ships a fork of Airflow; we don't want to override it with our install.
apache-airflow>=1.10.6
boto3==1.9.*
kubernetes==10.0.1
