.stepLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.stepItemContainer {
  display: flex;
  line-height: 32px;
  height: 32px;
  padding: 0 14px 0 6px;
  gap: 6px;
  align-items: center;
  border-bottom: 1px solid var(--color-keyline-default);
  font-size: 12px;
}

.stepItemContainer.selected {
  background: var(--color-background-light);
}

.stepItemContainer:hover {
  background: var(--color-background-light-hover);
}

.stepStatusDot {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
}

.elapsed {
  color: var(--color-text-light);
  font-variant-numeric: tabular-nums;
}

.emptyNotice {
  min-height: 32px;
  font-size: 12px;
  padding: 8px 24px;
  color: var(--color-text-light);
}