pylint==2.2.2; python_version >= '3.6'
pre-commit==1.10.1
pytest==4.0.2
pytest-cov==2.6.0
pytest-dependency==0.4.0
pytest-runner==4.2
recommonmark==0.4.0
rope==0.11.0
snapshottest==0.5.0
twine==1.11.0
yapf==0.22.0
# This is totally lame to have to put this here
# but for some reason pip is refusing to install
# these via setup.py in the local tox environment
Flask-Sockets>=0.2.1
graphql-ws>=0.3.0

