pre-commit==1.10.1
pylint==1.9.2
pytest==3.6.1
pytest-cov==2.6.0
recommonmark==0.4.0
rope==0.11.0
snapshottest==0.5.0
twine==1.11.0
yapf==0.22.0
# This is totally lame to have to put this here
# but for some reason pip is refusing to install
# these via setup.py in the local tox environment
Flask-Sockets>=0.2.1
graphql-ws>=0.3.0

