click>=6.7
dagster
enum34>=1.1.6
flask-cors>=3.0.6
Flask-GraphQL>=2.0.0
Flask-Sockets>=0.2.1
# Flask pinned for compatibility with existing Airflow installs
Flask==0.12.4
# future pinned to range for compatibility with Airflow
future>=0.16.0, <0.17.0a0
gevent-websocket==0.10.1
gevent==1.3.7
graphene>=2.1.3
graphql-core>=2.1
graphql-ws>=0.3.0
nbconvert>=5.4.0
pyrsistent>=0.14.8
# pyyaml pinned for compatibility with docker-compose
pyyaml==3.13
six>=1.11.0
watchdog>=0.8.3
