AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_ACCOUNT_ID=

MOTHERDUCK_TOKEN=

BSKY_LOGIN=
BSKY_APP_PASSWORD=

DBT_TARGET=

AZURE_POWERBI_CLIENT_ID=
AZURE_POWERBI_CLIENT_SECRET=
AZURE_POWERBI_TENANT_ID=
AZURE_POWERBI_WORKSPACE_ID=
