.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-light);
  height: 100%;
}

.configScrollWrap {
  padding: 8px;
  color: var(--color-text-default);
  flex: 1;
  pointer-events: initial;
  max-height: 100%;
  overflow-y: auto;
}

.autocompletionsNote {
  font-size: 0.75rem;
  text-align: center;
  padding: 4px;
  border-top: 1px solid var(--color-keyline-default);
  background: var(--color-background-light);
  color: var(--color-text-light);
}
