.statusTable {
  font-size: 13px;
  border-spacing: 0;

  && tr {
    box-shadow: none;
  }

  && tbody > tr > td {
    background: transparent;
    box-shadow: none !important;
    padding: 1px 0;
  }

  && tbody > tr > td:first-child {
    color: var(--color-text-light);
  }
}
