# Ignore any upstream gitignore pattern for "lib". This is included because "lib" is an important
# folder in scaffolded `dg` projects, but "lib" is also present in Github's default gitignore file
# for Python projects.
!lib

# Ignore all files in the output directory
output/*

# Ignore all .tmp directories
.tmp_dagster_home*