recursive-include dagster_aws *.sh
recursive-include dagster_aws *.yaml
recursive-include dagster_aws *.txt
recursive-include dagster_aws *.template
include LICENSE
include dagster_aws/py.typed

exclude ruff.toml
