# This file contains the configuration for the workspace-- it should contain an entry in `load_from`
# for each code location.
#
# ##### EXAMPLE
# 
# load_from:
#   - python_file:
#       relative_path: code_locations/my-code-location/my_code_location/definitions.py
#       location_name: my_code_location
#       executable_path: code_locations/my-code-location/.venv/bin/python
