[Unit]
Description=Run Dagit
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/bash -c '\
    export DAGSTER_HOME=/opt/dagster/dagster_home && \
    export PYTHONPATH=$PYTHONPATH:/opt/dagster/app && \
    export LC_ALL=C.UTF-8 && \
    export LANG=C.UTF-8 && \
    source /opt/dagster/venv/bin/activate && \
    /opt/dagster/venv/bin/dagit \
        -h 0.0.0.0 \
        -p 3000 \
        -y /opt/dagster/app/workspace.yaml'
Restart=always
WorkingDirectory=/opt/dagster/app/

[Install]
WantedBy=multi-user.target
