/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply text-gray-900 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight text-4xl font-semibold mb-4 pb-2;
}

.markdown h2 {
  @apply leading-tight text-2xl font-semibold mb-4 mt-8 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 pb-2 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

/* Permalink */
a.headerlink {
  opacity: 20%;
  @apply ml-2;
}

a.headerlink:hover {
  @apply opacity-75;
}

.markdown dl.class,
.markdown dl.data,
.markdown dl.attribute,
.markdown dl.method,
.markdown dl.exception,
.markdown dl.function {
  @apply bg-white shadow overflow-hidden rounded-lg my-8 relative !important;
}

/* Nested cards */

dl.class dl.attribute,
dl.class dl.method {
  @apply overflow-hidden shadow-none border-gray-100 border-2  !important;
}

/* Header ====================================== */
dl.class > dt,
dl.data > dt,
dl.attribute > dt,
dl.method > dt,
dl.exception > dt,
dl.function > dt {
  @apply px-4 pt-4 pb-4 border-b border-gray-200;
}

dl.class > dt > code.descclassname,
dl.data > dt > code.descclassname,
dl.attribute > dt > code.descclassname,
dl.method > dt > code.descclassname,
dl.exception > dt > code.descclassname,
dl.function > dt > code.descclassname {
  @apply bg-blue-100 rounded-r-none;
}

dl.class > dt > code.descname,
dl.data > dt > code.descname,
dl.attribute > dt > code.descname,
dl.method > dt > code.descname,
dl.exception > dt > code.descname,
dl.function > dt > code.descname {
  @apply bg-blue-200 font-bold mr-1 rounded-l-none;
}

dl.class > dt > em.sig-param,
dl.data > dt > em.sig-param,
dl.attribute > dt > em.sig-param,
dl.method > dt > em.sig-param,
dl.exception > dt > em.sig-param,
dl.function > dt > em.sig-param {
  @apply text-gray-600;
}

dl.class > dt > em.sig-param:hover,
dl.data > dt > em.sig-param:hover,
dl.attribute > dt > em.sig-param:hover,
dl.method > dt > em.sig-param:hover,
dl.exception > dt > em.sig-param:hover,
dl.function > dt > em.sig-param:hover {
  @apply font-semibold text-gray-900;
}

/* Source Link */
dl.class > dt > a.reference.internal,
dl.data > dt > a.reference.internal,
dl.attribute > dt > a.reference.internal,
dl.method > dt > a.reference.internal,
dl.exception > dt > a.reference.internal,
dl.function > dt > a.reference.internal {
  @apply absolute top-1 right-2 opacity-50 text-sm;
}

dl.class > dt > a.reference.internal:hover,
dl.data > dt > a.reference.internal:hover,
dl.attribute > dt > a.reference.internal:hover,
dl.method > dt > a.reference.internal:hover,
dl.exception > dt > a.reference.internal:hover,
dl.function > dt > a.reference.internal:hover {
  @apply opacity-100;
}

/* Class body ====================================== */

dl.class > dd,
dl.data > dd,
dl.attribute > dd,
dl.method > dd,
dl.exception > dd,
dl.function > dd {
  @apply px-4 py-4 border-b border-gray-200;
}

dl.class > dd > p,
dl.data > dd > p,
dl.attribute > dd > p,
dl.method > dd > p,
dl.exception > dd > p,
dl.function > dd > p {
  @apply py-2;
}

/* Parameters */
dl.class > dd > dl.field-list.simple,
dl.data > dd > dl.field-list.simple,
dl.attribute > dd > dl.field-list.simple,
dl.method > dd > dl.field-list.simple,
dl.exception > dd > dl.field-list.simple,
dl.function > dd > dl.field-list.simple {
  @apply bg-gray-50 rounded p-4 -mx-4;
}

dl.class > dd > dl.field-list.simple > dt,
dl.data > dd > dl.field-list.simple > dt,
dl.attribute > dd > dl.field-list.simple > dt,
dl.method > dd > dl.field-list.simple > dt,
dl.exception > dd > dl.field-list.simple > dt,
dl.function > dd > dl.field-list.simple > dt {
  @apply font-bold my-2;
}

dl.class > dd > dl.field-list.simple > dd > ul > li,
dl.data > dd > dl.field-list.simple > dd > ul > li,
dl.attribute > dd > dl.field-list.simple > dd > ul > li,
dl.method > dd > dl.field-list.simple > dd > ul > li,
dl.exception > dd > dl.field-list.simple > dd > ul > li,
dl.function > dd > dl.field-list.simple > dd > ul > li {
  @apply my-4;
}

dl.class > dd > dl.field-list.simple > dd p,
dl.data > dd > dl.field-list.simple > dd p,
dl.attribute > dd > dl.field-list.simple > dd p,
dl.method > dd > dl.field-list.simple > dd p,
dl.exception > dd > dl.field-list.simple > dd p,
dl.function > dd > dl.field-list.simple > dd p {
  @apply my-1;
}

.highlight pre {
  overflow-x: scroll;
}

.highlighted-line {
  display: block;
  @apply bg-gray-700;
}

.left-bar {
  max-height: calc(100vh - 4em);
}

/* ApiDocs styles */
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #eeffcc;
}
.highlight .c {
  color: #408090;
  font-style: italic;
} /* Comment */
.highlight .err {
  border: 1px solid #ff0000;
} /* Error */
.highlight .k {
  color: #007020;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #666666;
} /* Operator */
.highlight .ch {
  color: #408090;
  font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
  color: #408090;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #007020;
} /* Comment.Preproc */
.highlight .cpf {
  color: #408090;
  font-style: italic;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #408090;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #408090;
  background-color: #fff0f0;
} /* Comment.Special */
.highlight .gd {
  color: #a00000;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #ff0000;
} /* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #00a000;
} /* Generic.Inserted */
.highlight .go {
  color: #333333;
} /* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #0044dd;
} /* Generic.Traceback */
.highlight .kc {
  color: #007020;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #007020;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #007020;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #007020;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #007020;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #902000;
} /* Keyword.Type */
.highlight .m {
  color: #208050;
} /* Literal.Number */
.highlight .s {
  color: #4070a0;
} /* Literal.String */
.highlight .na {
  color: #4070a0;
} /* Name.Attribute */
.highlight .nb {
  color: #007020;
} /* Name.Builtin */
.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #60add5;
} /* Name.Constant */
.highlight .nd {
  color: #555555;
  font-weight: bold;
} /* Name.Decorator */
.highlight .ni {
  color: #d55537;
  font-weight: bold;
} /* Name.Entity */
.highlight .ne {
  color: #007020;
} /* Name.Exception */
.highlight .nf {
  color: #06287e;
} /* Name.Function */
.highlight .nl {
  color: #002070;
  font-weight: bold;
} /* Name.Label */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
  color: #062873;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #bb60d5;
} /* Name.Variable */
.highlight .ow {
  color: #007020;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mb {
  color: #208050;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #208050;
} /* Literal.Number.Float */
.highlight .mh {
  color: #208050;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #208050;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #208050;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #4070a0;
} /* Literal.String.Affix */
.highlight .sb {
  color: #4070a0;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #4070a0;
} /* Literal.String.Char */
.highlight .dl {
  color: #4070a0;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #4070a0;
  font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #4070a0;
} /* Literal.String.Double */
.highlight .se {
  color: #4070a0;
  font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
  color: #4070a0;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #70a0d0;
  font-style: italic;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #c65d09;
} /* Literal.String.Other */
.highlight .sr {
  color: #235388;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #4070a0;
} /* Literal.String.Single */
.highlight .ss {
  color: #517918;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #007020;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #06287e;
} /* Name.Function.Magic */
.highlight .vc {
  color: #bb60d5;
} /* Name.Variable.Class */
.highlight .vg {
  color: #bb60d5;
} /* Name.Variable.Global */
.highlight .vi {
  color: #bb60d5;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #bb60d5;
} /* Name.Variable.Magic */
.highlight .il {
  color: #208050;
} /* Literal.Number.Integer.Long */
/* /ApiDocs Styles */

/* details summary */
details {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: '';
  position: absolute;
  left: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=')
    no-repeat 50% 50% / 1em 1em;
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.1s linear;
}

summary {
  display: block;
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  border-bottom: 1px solid #ccc;
}

summary:hover {
  color: #007bff;
}

summary:focus {
  outline: none;
}

details[open] summary:before {
  transform: rotate(90deg);
}

details[open] > summary {
  color: #007bff;
}

details[open] > summary ~ * {
  animation: open 1s ease;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Code */
.react-syntax-highlighter-line-number {
  user-select: none;
}

.algolia-autocomplete {
  display: block !important;
  @apply pl-10;
}
