[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).#
# C0103 invalid variable name (e.g. two chars)
# R0201 method could be a function
# R0903 too few public methods
# R0913 too many arguments
# W0511 disable TODO warning
# W1201, W1202 disable log format warning. False positives (I think)
# R1705 Unnecessary else after return
# R0902 Too many instance attributes. Sometimes big config objects are what you want
# R1710 All returns should return an expression
disable=C0111,C0330,C0103,R0201,R0903,R0913,W0511,W1201,W1202,R1705,R0902,R1710

