include README.rst
include LICENSE
include dagster_webserver/py.typed
recursive-include dagster_webserver/graphiql *
recursive-include dagster_webserver/webapp/build *
recursive-include dagster_webserver/templates/assets *
