# versions of google-cloud-python libraries until
# https://github.com/googleapis/google-cloud-python/issues/9786 is resolved
google-cloud-bigquery[pandas,pyarrow] >=1.19.*, <=1.21.0
google-cloud-storage<1.23.0
google-resumable-media >= 0.3.1, != 0.4.0, < 0.5dev