.assetNodeListItem {
  user-select: none;
  padding: 12px 24px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-keyline-default);
  display: flex;
  gap: 6px;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: var(--color-background-light);
  }

  font-family: var(--font-family-monospace);
}
