{{ formal_name }} ({{ hyphen_name }})
-----------------------------------------------------

.. TODO description

.. currentmodule:: {{ underscore_name }}

.. TODO fill out remaining docs


.. TODO add your package name to the following files:
.. docs/content/_navigation.json
.. docs/content/_apidocs.mdx
.. docs/sphinx/conf.py
.. docs/sphinx/index.rst