[tox]

[testenv]
download = True
setenv =
  !windows: COVERAGE_ARGS = --cov=dagster --cov-append --cov-report term:skip-covered --cov-report html --cov-report xml
  windows: COVERAGE_ARGS =
passenv = CI_* COVERALLS_REPO_TOKEN BUILDKITE* # TODO add additional env var requirements and add them to .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
install_command = uv pip install {opts} {packages}
deps =
  -e ../../dagster[test]
  -e .
  # TODO fill in remaining dependencies
allowlist_externals =
  /bin/bash
commands =
  !windows: /bin/bash -c '! pip list --exclude-editable | grep -e dagster -e dagit'
  pytest -c ../../../pyproject.toml -vv ./{{ underscore_name }}_tests
