[tox]

[testenv]
download = True
passenv =
    CI_*
    BUILDKITE*
    PYTEST_PLUGINS
    # TODO add additional env var requirements and add them to .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
install_command = uv pip install {opts} {packages}
deps =
  -e ../../dagster[test]
  -e .
  # TODO fill in remaining dependencies
allowlist_externals =
  /bin/bash
  uv
commands =
  !windows: /bin/bash -c '! pip list --exclude-editable | grep -e dagster -e dagit'
  pytest -c ../../../pyproject.toml -vv ./{{ underscore_name }}_tests --durations 10 {posargs}
