{#
    Macro: generate_date_values(from, to)

    This macro generates a SQL VALUES clause with a list of date strings. The date strings are generated for each day 
    in the range from the 'from' date to the 'to' date, inclusive.

    Parameters:
    - from: The start date of the range, as a string in 'YYYY-MM-DD' format.
    - to: The end date of the range, as a string in 'YYYY-MM-DD' format.

    Returns:
    A string representing a SQL VALUES clause with a list of date strings.

    Example usage:
    {{ sdf_utils.generate_date_values('2022-01-01', '2022-01-03') }}

    This will generate:
    (VALUES ('2022-01-01'), ('2022-01-02'), ('2022-01-03'))

#}

{% macro generate_date_values(from, to) %}
(VALUES
{% for i in generate_date_strings(from, to) -%} ('{{i}}') {{ "," if not loop.last else "" }}
{%- endfor %} )
{% endmacro %}
