[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9,<3.13"
dependencies = [
    "dagster",
    "dagster-cloud",
    "dagster-dbt",
    {%- for dbt_adapter in dbt_adapter_packages %}
    "{{ dbt_adapter }}<{{ dbt_core_version_upper_bound }}",
    {%- endfor %}
]

[project.optional-dependencies]
dev = [
    "dagster-webserver", 
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.dagster]
module_name = "{{ project_name }}.definitions"
code_location_name = "{{ project_name }}"
