from setuptools import find_packages, setup

setup(
    name="{{ project_name }}",
    version="0.0.1",
    packages=find_packages(),
    {%- if use_dbt_project_package_data_dir %}
    package_data={
        "{{ project_name }}": [
            "dbt-project/**/*",
        ],
    },
    {%- endif %}
    install_requires=[
        "dagster",
        "dagster-cloud",
        "dagster-dbt",
        "dbt-core>=1.4.0",
        {%- for dbt_adapter in dbt_adapter_packages %}
        "{{ dbt_adapter }}",
        {%- endfor %}
    ],
    extras_require={
        "dev": [
            "dagster-webserver",
        ]
    },
)
