# Airflow should be provided by the end user, not us. For example, GCP Cloud Composer
# ships a fork of Airflow; we don't want to override it with our install.
# See https://github.com/dagster-io/dagster/issues/2701
apache-airflow==1.10.11
boto3==1.9.*
kubernetes==10.0.1