[build-system]
requires = [
    "setuptools>=69.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "dagster-airflow"
version = "1.12.15"
description = "Airflow plugin for Dagster"
authors = [
    { name = "Dagster Labs", email = "hello@dagsterlabs.com" },
]
license = "Apache-2.0"
requires-python = ">=3.10,<3.15"
classifiers = [
    "Operating System :: OS Independent",
]
dependencies = [
    "dagster==1.12.15",
    "lazy_object_proxy",
    "setuptools<71.0.0",
    "pendulum",
]

[project.urls]
Homepage = "https://github.com/dagster-io/dagster"
"project-url/documentation" = "https://docs.dagster.io"

[project.entry-points."airflow.plugins"]
dagster_airflow = "dagster_airflow.__init__:DagsterAirflowPlugin"

[project.entry-points.apache_airflow_provider]
provider_info = "dagster_airflow.__init__:get_provider_info"

[project.optional-dependencies]
kubernetes = [
    "kubernetes>=3.0.0",
    "cryptography>=2.0.0",
]
test_airflow_2 = [
    "apache-airflow>=2.0.0,<2.8",
    "pendulum<3.0.0",
    "boto3>=1.26.7",
    "flask-session<0.6.0",
    "kubernetes>=10.0.1",
    "apache-airflow-providers-docker>=3.2.0,<4",
    "apache-airflow-providers-apache-spark",
    "apache-airflow-providers-http<4.1.1",
    "connexion<3.0.0",
]
test_airflow_1 = [
    "apache-airflow>=1.0.0,<2.0.0",
    "boto3>=1.26.7",
    "kubernetes>=10.0.1",
    "markupsafe<=2.0.1",
    "WTForms<3.0.0",
    "sqlalchemy>=1.0,<1.4.0",
    "marshmallow-sqlalchemy<0.26.0",
    "connexion<3.0.0",
]
test = [
    "connexion<3.0.0",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
exclude = [
    "dagster_airflow_tests*",
]

[tool.check-manifest]
ignore = [
    ".coveragerc",
    "tox.ini",
    "pytest.ini",
    "dagster_airflow_tests/**",
    "conftest.py",
    "example_dag.png",
]
