-e ../python_modules/automation
# Packages that use sphinx-click can't use auto-mock
-e ../python_modules/dagster[test]
-e ../python_modules/dagster-graphql
-e ../python_modules/libraries/dagster-celery
-e ../python_modules/dagit
docutils==0.15.2
Sphinx==3.5.2
sphinx-click==2.5.0
recommonmark==0.7.1
nbsphinx==0.8.2
pendulum==1.4.4
pyspark>=3.0.0
google-cloud-bigquery>=1.19.*
google-api-python-client<2.0.0
google-cloud-storage
paramiko