.imageName :global(.bp5-popover-target) {
  display: inline;
  overflow: hidden;
  position: relative;
  top: 2px;
  margin-left: 2px;
}

.metadataEditor :global(.CodeMirror.cm-s-code-location-metadata.cm-s-code-location-metadata) {
  background-color: var(--color-background-default);
  padding: 12px 20px;
  height: 300px;
}
