.baseTag {
  --tag-fill-color: var(--color-background-default);
  --tag-text-color: var(--color-text-default);

  background-color: var(--tag-fill-color);
  border-radius: 8px;
  color: var(--tag-text-color);
  cursor: inherit;
  display: inline-flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  padding: 4px 8px;
  user-select: none;
  transition: filter 100ms linear;
  max-width: 100%;
}

.baseTag.interactive {
  cursor: pointer;
}

.baseTag > span {
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.baseTag > :global(.iconGlobal):first-child,
.baseTag > :global(.spinnerGlobal):first-child {
  margin-right: 4px;
  margin-left: -4px;
}

.baseTag > :global(.iconGlobal):last-child,
.baseTag > :global(.spinnerGlobal):last-child {
  margin-left: 4px;
  margin-right: -4px;
}

.baseTag > :global(.iconGlobal):first-child:last-child,
.baseTag > :global(.spinnerGlobal):first-child:last-child {
  margin: 0 -4px;
}
