.container {
  overflow: hidden;
  white-space: nowrap;
}

/**
 * An invisible target element that contains the full, no-wrapped text. This is used
 * to measure the maximum available width for our truncated string.
 */
.measure {
  height: 0;
  overflow: hidden;
  white-space: nowrap;
}
