.suggestWithIconWrapper {
  position: relative;
}

.suggestWithIconWrapper > :first-child {
  position: absolute;
  left: 8px;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.suggestWithIconWrapper :global(.bp5-input-group input.bp5-input) {
  padding-left: 28px;
}
