.body {
  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body2 {
  font-family: var(--font-family-default);
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.bodyLarge {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
