.toastContainer {
  background-color: var(--color-background-default);
  border-radius: 8px;
}

.toastInner {
  border-radius: 8px;
  font-size: 13px;
}

.toastMessage {
  color: var(--color-text-default);
}
