.assetEventMetadataScrollContainer {
  width: 100%;
  overflow-x: auto;
}

.styledTableWithHeader {
  /** -2 accounts for the left and right border, which are not taken into account
  * and cause a tiny amount of horizontal scrolling at all times. */
  width: calc(100% - 2px);
  border-spacing: 0;
  border-collapse: collapse;
}

.styledTableWithHeader > thead > tr > td {
  color: var(--color-text-lighter);
  font-size: 12px;
  line-height: 16px;
}

.styledTableWithHeader > tbody > tr > td,
.styledTableWithHeader > thead > tr > td {
  border: 1px solid var(--color-keyline-default);
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.styledTableWithHeader > tbody > tr > td:first-child,
.styledTableWithHeader > thead > tr > td:first-child {
  max-width: 300px;
  word-wrap: break-word;
  width: 25%;
}