.assetListContainer {
  outline: none;
}

.assetListContainer:focus {
  box-shadow: 0 -1px var(--color-accent-blue);
}

.assetListRow {
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
}

.assetListRow:focus,
.assetListRow:active,
.assetListRow:hover {
  outline: none;
  background: var(--color-background-light);
}

.assetListRow.focused {
  background: var(--color-background-blue);
  color: var(--color-text-blue);
}

.assetListRow.focused:hover {
  background: var(--color-background-blue);
}