.truncatedHeading {
  max-width: 300px;
  overflow: hidden;
}

.breadcrumbsWithSlashes li:nth-last-child(3)::after {
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text-lighter);
  content: '/';
  width: 8px;
  line-height: 16px;
}

/*
 * Blueprint breadcrumbs annoyingly have a built-in height.
 */
.breadcrumbsWithSlashes :global(.bp5-breadcrumbs) {
  height: auto;
  min-height: 30px;
}

.breadcrumbLink {
  color: var(--color-text-light);
  white-space: nowrap;
}

.breadcrumbLink:hover,
.breadcrumbLink:active {
  color: var(--color-text-light);
}
