/* MinimalNodeStaleDotElement */
.minimalNodeStaleDotElement {
  position: absolute;
  left: 6px;
  top: 6px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-background-yellow);
}

.minimalNodeStaleDotElement::after {
  display: block;
  position: absolute;
  content: ' ';
  left: 5px;
  top: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-accent-yellow);
}