.chartContainer {
  background-color: var(--color-background-default);
  border-radius: 12px;
  border: 1px solid var(--color-keyline-default);
  padding: 16px;
  width: 100%;
  height: 260px;
  box-sizing: border-box;
}

.chartWrapper {
  position: relative;
  width: 100%;
}

.chartGraph {
  flex-grow: 1;
  min-height: 160px;
}

.chartHeader {
  font-size: 16px;
  margin-bottom: 8px;
}

.chartCount {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.chartChange {
  font-size: 14px;
  color: var(--color-text-light);
  margin-bottom: 12px;
}