.rateCardContainer {
  background-color: var(--color-background-default);
  border-radius: 12px;
  border: 1px solid var(--color-keyline-default);
  padding: 16px;
  width: 100%;
  min-width: 260px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rateCardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rateCardValue {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

.rateCardPrev,
.rateCardDeltaRow {
  font-size: 14px;
  color: var(--color-text-lighter);
}

.rateCardDeltaRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.rateCardDelta {
  font-size: 14px;
  color: var(--color-text-lighter);
}

.spinner {
  display: flex;
  flex-grow: 1;
  margin-top: 12px;
}

.rateCardNoDataContainer {
  background-color: var(--color-background-default-hover);
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-disabled);
  height: 100%;
}

.rateCardNoDataPercentContainer {
  background-color: var(--color-background-gray);
  display: flex;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 800;
}
