.container {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  height: 460px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 12px;
}

.tableValue {
  text-align: right;
}

.distributionRow {
  background-color: var(--color-accent-blue);
  height: 20px;
}
